nfs:
  enabled: true
  # volumeReporter will report 100% for all hubs as EFS is unbounded, we disable
  # it to save a limited amount of pods we can allocate per core node
  volumeReporter:
    enabled: false
  pv:
    enabled: true
    # from https://docs.aws.amazon.com/efs/latest/ug/mounting-fs-nfs-mount-settings.html
    mountOptions:
      - rsize=1048576
      - wsize=1048576
      - timeo=600
      - soft # We pick soft over hard, so NFS lockups don't lead to hung processes
      - retrans=2
      - noresvport
    baseShareName: /

jupyterhub:
  scheduling:
    userScheduler:
      enabled: true

jupyterhub-home-nfs:
  enabled: true
  eks:
    enabled: true
