basehub:
  userServiceAccount:
    annotations:
      # When we renamed this hub, we did so at a DNS level and not an infrastructure
      # level. No terraform config was touched. Hence the kubernetes annotations retain
      # the original hub name.
      eks.amazonaws.com/role-arn: arn:aws:iam::790657130469:role/2i2c-aws-us-showcase
  jupyterhub-home-nfs:
    eks:
      volumeId: vol-0a55e84bbf716b456

  jupyterhub:
    ingress:
      hosts: [showcase.2i2c.cloud]
      tls:
        - hosts: [showcase.2i2c.cloud]
          secretName: https-auto-tls
    custom:
      2i2c:
        add_staff_user_ids_to_admin_users: true
        add_staff_user_ids_of_type: "github"
      jupyterhubConfigurator:
        enabled: false
      homepage:
        templateVars:
          org:
            name: 2i2c Showcase
            url: https://2i2c.org
            logo_url: https://2i2c.org/media/logo.png
          designed_by:
            name: 2i2c
            url: https://2i2c.org
          operated_by:
            name: 2i2c
            url: https://2i2c.org
          funded_by:
            name: 2i2c
            url: https://2i2c.org
    hub:
      config:
        JupyterHub:
          authenticator_class: github
        GitHubOAuthenticator:
          oauth_callback_url: "https://showcase.2i2c.cloud/hub/oauth_callback"
          populate_teams_in_auth_state: true
          allowed_organizations:
            - 2i2c-community-showcase:access-2i2c-showcase
            - 2i2c-community-showcase:magiclinks-demo
            - 2i2c-demo-hub-access:showcase-topst
            - ScienceCore
          scope:
            - read:org
        Authenticator:
          enable_auth_state: true
    singleuser:
      nodeSelector:
        2i2c/hub-name: showcase
      extraEnv:
        SCRATCH_BUCKET: s3://2i2c-aws-us-scratch-showcase/$(JUPYTERHUB_USER)
        PERSISTENT_BUCKET: s3://2i2c-aws-us-persistent-showcase/$(JUPYTERHUB_USER)
        GH_SCOPED_CREDS_CLIENT_ID: Iv1.f9261c4c78b4dfdd
        GH_SCOPED_CREDS_APP_URL: https://github.com/apps/2i2c-community-showcase-hub
      profileList:
        - display_name: "Magic Link Demo"
          description: "For demoing magic links"
          allowed_groups:
            - 2i2c-community-showcase:magiclinks-demo
          kubespawner_override:
            image: pangeo/pangeo-notebook:2023.06.20
            mem_guarantee: 7.234G
            cpu_guarantee: 0.1
            mem_limit: null
            node_selector:
              node.kubernetes.io/instance-type: r5.xlarge
        - display_name: "NASA TOPS-T ScienceCore-ClimateRisk"
          description: "For collaborative work on 2i2c/MD's NASA TOPS-T ScienceCore Module"
          allowed_groups:
            - 2i2c-demo-hub-access:showcase-topst
            - 2i2c-org:hub-access-for-2i2c-staff
            - ScienceCore:climaterisk-team
          kubespawner_override:
            image: quay.io/2i2c/sciencecore-climaterisk-image:69d8d944f907
            mem_guarantee: 7.234G
            cpu_guarantee: 0.1
            mem_limit: null
            node_selector:
              node.kubernetes.io/instance-type: r5.xlarge
        - display_name: "NASA TOPS-T ScienceCore"
          description: "JupyterHubs for NASA ScienceCore Modules"
          allowed_groups:
            - 2i2c-org:hub-access-for-2i2c-staff
            - ScienceCore:2i2c-showcase
          profile_options:
            image:
              display_name: Image
              unlisted_choice:
                enabled: True
                display_name: "Custom image"
                validation_regex: "^.+:.+$"
                validation_message: "Must be a publicly available docker image, of form <image-name>:<tag>"
                kubespawner_override:
                  image: "{value}"
              choices:
                jupyter-scipy:
                  default: true
                  display_name: Jupyter SciPy
                  slug: jupyter-scipy
                  kubespawner_override:
                    image: quay.io/jupyter/scipy-notebook:2024-03-18
                jupyter-datascience:
                  display_name: Jupyter DataScience
                  slug: jupyter-datascience
                  kubespawner_override:
                    image: quay.io/jupyter/datascience-notebook:2024-03-18
                rocker-geospatial:
                  display_name: Rocker Geospatial
                  slug: rocker-geospatial
                  kubespawner_override:
                    image: rocker/binder:4.3
                    image_pull_policy: Always
                    # Launch into RStudio after the user logs in
                    default_url: /rstudio
                    # Ensures container working dir is homedir
                    # https://github.com/2i2c-org/infrastructure/issues/2559
                    working_dir: /home/rstudio
                pangeo:
                  display_name: Pangeo Notebook
                  slug: pangeo
                  kubespawner_override:
                    image: pangeo/pangeo-notebook:2023.06.20

          kubespawner_override:
            mem_guarantee: 7.234G
            cpu_guarantee: 0.1
            mem_limit: null
            node_selector:
              node.kubernetes.io/instance-type: r5.xlarge
        - display_name: "Shared Small: 1-4 CPU, 8-32 GB"
          description: "A shared machine, the recommended option until you experience a limitation."
          allowed_groups: &allowed_groups
            - 2i2c-org:hub-access-for-2i2c-staff
            - 2i2c-community-showcase:access-2i2c-showcase
          profile_options: &profile_options
            image:
              display_name: Image
              unlisted_choice:
                enabled: True
                display_name: "Custom image"
                validation_regex: "^.+:.+$"
                validation_message: "Must be a publicly available docker image, of form <image-name>:<tag>"
                kubespawner_override:
                  image: "{value}"
              choices:
                handbook:
                  display_name: Handbook Authoring
                  slug: handbook
                  kubespawner_override:
                    image: quay.io/2i2c/handbook-authoring-image:7c62c6e63869
                pangeo:
                  display_name: Pangeo Notebook
                  default: true
                  slug: pangeo
                  kubespawner_override:
                    image: pangeo/pangeo-notebook:2023.06.20
                jupyter-scipy:
                  display_name: Jupyter SciPy
                  slug: jupyter-scipy
                  kubespawner_override:
                    image: quay.io/jupyter/scipy-notebook:2024-03-18
                jupyter-datascience:
                  display_name: Jupyter DataScience
                  slug: jupyter-datascience
                  kubespawner_override:
                    image: quay.io/jupyter/datascience-notebook:2024-03-18
                rocker-geospatial:
                  display_name: Rocker Geospatial
                  slug: rocker-geospatial
                  kubespawner_override:
                    image: rocker/binder:4.3
                    image_pull_policy: Always
                    # Launch into RStudio after the user logs in
                    default_url: /rstudio
                    # Ensures container working dir is homedir
                    # https://github.com/2i2c-org/infrastructure/issues/2559
                    working_dir: /home/rstudio
          kubespawner_override:
            mem_guarantee: 7.234G
            cpu_guarantee: 0.1
            mem_limit: null
            node_selector:
              node.kubernetes.io/instance-type: r5.xlarge

        - display_name: "Small: 4 CPU, 32 GB"
          description: "A dedicated machine for you."
          profile_options: *profile_options
          allowed_groups: *allowed_groups
          kubespawner_override:
            mem_guarantee: 28.937G
            cpu_guarantee: 0.4
            mem_limit: null
            node_selector:
              node.kubernetes.io/instance-type: r5.xlarge

        - display_name: "Medium: 16 CPU, 128 GB"
          description: "A dedicated machine for you."
          profile_options: *profile_options
          allowed_groups: *allowed_groups
          kubespawner_override:
            mem_guarantee: 120.513G
            cpu_guarantee: 1.6
            mem_limit: null
            node_selector:
              node.kubernetes.io/instance-type: r5.4xlarge

        - display_name: "Large: 64 CPU, 512 GB"
          description: "A dedicated machine for you"
          profile_options: *profile_options
          allowed_groups: *allowed_groups
          kubespawner_override:
            mem_guarantee: 489.13G
            cpu_guarantee: 6.4
            mem_limit: null
            node_selector:
              node.kubernetes.io/instance-type: r5.16xlarge

        - display_name: NVIDIA Tesla T4, ~16 GB, ~4 CPUs
          slug: gpu
          allowed_groups:
            - 2i2c-org:hub-access-for-2i2c-staff
          description: "Start a container on a dedicated node with a GPU"
          profile_options:
            image:
              display_name: Image
              choices:
                tensorflow:
                  display_name: Pangeo Tensorflow ML Notebook
                  slug: "tensorflow"
                  kubespawner_override:
                    image: "pangeo/ml-notebook:b9584f6"
                pytorch:
                  display_name: Pangeo PyTorch ML Notebook
                  default: true
                  slug: "pytorch"
                  kubespawner_override:
                    image: "pangeo/pytorch-notebook:b9584f6"
          kubespawner_override:
            mem_limit: null
            environment:
              NVIDIA_DRIVER_CAPABILITIES: compute,utility
            mem_guarantee: 14G
            node_selector:
              node.kubernetes.io/instance-type: g4dn.xlarge
            extra_resource_limits:
              nvidia.com/gpu: "1"

  dask-gateway:
    gateway:
      backend:
        scheduler:
          extraPodConfig:
            nodeSelector:
              2i2c/hub-name: showcase
        worker:
          extraPodConfig:
            nodeSelector:
              2i2c/hub-name: showcase
