userServiceAccount:
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::790657130469:role/2i2c-aws-us-staging
jupyterhub:
  ingress:
    hosts: [staging.aws.2i2c.cloud]
    tls:
      - hosts: [staging.aws.2i2c.cloud]
        secretName: https-auto-tls
  custom:
    2i2c:
      add_staff_user_ids_to_admin_users: true
      add_staff_user_ids_of_type: "github"
    homepage:
      templateVars:
        org:
          name: 2i2c AWS Staging
          url: https://2i2c.org
          logo_url: https://2i2c.org/media/logo.png
        designed_by:
          name: 2i2c
          url: https://2i2c.org
        operated_by:
          name: 2i2c
          url: https://2i2c.org
        funded_by:
          name: 2i2c
          url: https://2i2c.org
  hub:
    config:
      JupyterHub:
        authenticator_class: "github"
      GitHubOAuthenticator:
        oauth_callback_url: "https://staging.aws.2i2c.cloud/hub/oauth_callback"
  singleuser:
    nodeSelector:
      2i2c/hub-name: staging
    extraEnv:
      SCRATCH_BUCKET: s3://2i2c-aws-us-scratch-staging/$(JUPYTERHUB_USER)
