basehub:
  userServiceAccount:
    annotations:
      iam.gke.io/gcp-service-account: m2lines-prod@m2lines-hub.iam.gserviceaccount.com
  jupyterhub:
    singleuser:
      extraEnv:
        SCRATCH_BUCKET: gs://m2lines-scratch/$(JUPYTERHUB_USER)
        PANGEO_SCRATCH: gs://m2lines-scratch/$(JUPYTERHUB_USER)
        PERSISTENT_BUCKET: gs://m2lines-persistent/$(JUPYTERHUB_USER)
        PUBLIC_PERSISTENT_BUCKET: gs://m2lines-public-persistent/$(JUPYTERHUB_USER)
    hub:
      config:
        GitHubOAuthenticator:
          oauth_callback_url: https://m2lines.2i2c.cloud/hub/oauth_callback
