basehub:
  userServiceAccount:
    annotations:
      eks.amazonaws.com/role-arn: arn:aws:iam::762698921361:role/earthscope-binder
  nfs:
    enabled: false
    pv:
      enabled: false
  jupyterhub:
    ingress:
      hosts: [hub.binder.geolab.earthscope.cloud]
      tls:
      - hosts: [hub.binder.geolab.earthscope.cloud]
        secretName: https-auto-tls
    cull:
      every: 300
      # No pods over 12h long
      maxAge: 43200
      # Also cull all users more than 12h old
      users: true
    custom:
      daskhubSetup:
        enabled: false
      binderhubUI:
        enabled: true
      jupyterhubConfigurator:
        enabled: false
      singleuserAdmin:
        extraVolumeMounts: []
      homepage:
        templateVars:
          redirect_to: https://www.earthscope.org/data/geolab/
    singleuser:
      nodeSelector:
        2i2c/hub-name: binder
      memory:
        guarantee: 6G
        limit: 8G
      cpu:
        limit: 1
      storage:
        type: none
        extraVolumeMounts: []
      initContainers: []
      profileList: []
      cmd:
      - python3
      - -c
      - |
        import os
        import sys

        try:
            import jupyterlab
            import jupyterlab.labapp
            major = int(jupyterlab.__version__.split(".", 1)[0])
        except Exception as e:
            print("Failed to import jupyterlab: {e}", file=sys.stderr)
            have_lab = False
        else:
            have_lab = major >= 3

        if have_lab:
            # technically, we could accept another jupyter-server-based frontend
            print("Launching jupyter-lab", file=sys.stderr)
            exe = "jupyter-lab"
        else:
            print("jupyter-lab not found, launching jupyter-notebook", file=sys.stderr)
            exe = "jupyter-notebook"

        # launch the notebook server
        os.execvp(exe, sys.argv)
    hub:
      services:
        binder:
          oauth_redirect_uri: https://binder.geolab.earthscope.cloud/oauth_callback
      config:
        BinderSpawnerMixin:
          auth_enabled: true
        GenericOAuthenticator:
          token_url: https://login.earthscope.org/oauth/token
          authorize_url: https://login.earthscope.org/authorize
          userdata_url: https://login.earthscope.org/userinfo
          logout_redirect_url: https://login.earthscope.org/v2/logout?client_id=2PbhUTbRU6e7uIaaEZIShotx15MbvsJJ
          extra_authorize_params:
            # This isn't an actual URL, just a string. Must not have a trailing slash
            audience: https://api.earthscope.org
      redirectToServer: false
      loadRoles:
        binder:
          services:
          - binder
          scopes:
          - servers
          - read:users
        user:
          scopes:
          - self
          - access:services!service=binder
  jupyterhub-home-nfs:
    enabled: false
    eks:
      enabled: false
  binderhub-service:
    enabled: true
    networkPolicy:
      enabled: true
    dockerApi:
      nodeSelector:
        2i2c/hub-name: binder
    ingress:
      enabled: true
      hosts: [binder.geolab.earthscope.cloud]
      tls:
      - hosts: [binder.geolab.earthscope.cloud]
        secretName: binder-https-auto-tls
    custom:
      sendLogsOfLaunchEventsTo2i2c: true
    config:
      KubernetesBuildExecutor:
        node_selector:
          2i2c/hub-name: binder
          node.kubernetes.io/instance-type: r5.xlarge
      BinderHub:
        base_url: /
        hub_url: https://hub.binder.geolab.earthscope.cloud
        badge_base_url: https://binder.geolab.earthscope.cloud
        auth_enabled: true
        enable_api_only_mode: false
        image_prefix: quay.io/imagebuilding-non-gcp-hubs/earthscope-binder-
      DockerRegistry:
        url: &url https://quay.io
        username: &username imagebuilding-non-gcp-hubs+image_builder
    extraEnv:
    - name: JUPYTERHUB_API_TOKEN
      valueFrom:
        secretKeyRef:
          name: hub
          key: hub.services.binder.apiToken
    - name: JUPYTERHUB_CLIENT_ID
      value: service-binder
    - name: JUPYTERHUB_API_URL
      value: https://hub.binder.geolab.earthscope.cloud/hub/api
      # Without this, the redirect URL to /hub/api/... gets
      # appended to binderhub's URL instead of the hub's
    - name: JUPYTERHUB_BASE_URL
      value: https://hub.binder.geolab.earthscope.cloud/
    - name: JUPYTERHUB_OAUTH_CALLBACK_URL
      value: https://binder.geolab.earthscope.cloud/oauth_callback
    buildPodsRegistryCredentials:
      server: *url
      username: *username
