basehub:
  userServiceAccount:
    annotations:
      eks.amazonaws.com/role-arn: arn:aws:iam::762698921361:role/earthscope-staging

  jupyterhub:
    ingress:
      hosts:
      - staging.geolab.earthscope.cloud
      tls:
      - hosts: [staging.geolab.earthscope.cloud]
        secretName: https-auto-tls
    custom:
      homepage:
        templateVars:
          # To login to earthscope staging, now use https://staging.geolab.earthscope.cloud/hub/oauth_login
          redirect_to: https://www.earthscope.org/data/geolab/
    hub:
      config:
        GenericOAuthenticator:
          token_url: https://login-dev.earthscope.org/oauth/token
          authorize_url: https://login-dev.earthscope.org/authorize
          userdata_url: https://login-dev.earthscope.org/userinfo
          logout_redirect_url: https://login-dev.earthscope.org/v2/logout?client_id=Kn6kSKtw9TqgrSrEmDS0rlBM7Sc69BkL
          extra_authorize_params:
            # This isn't an actual URL, just a string. Must not have a trailing slash
            audience: https://api.dev.earthscope.org
    singleuser:
      nodeSelector:
        2i2c/hub-name: staging
      extraEnv:
        SCRATCH_BUCKET: s3://earthscope-scratch-staging/$(JUPYTERHUB_USER)
      initContainers:
      - name: jupyterhub-gitpuller-init
        image: public.ecr.aws/nasa-veda/jupyterhub-gitpuller-init:97eb45f9d23b128aff810e45911857d5cffd05c2
        env:
        - name: TARGET_PATH
          value: geolab-docs
        - name: SOURCE_REPO
          value: https://github.com/EarthScope/GeoLab
        volumeMounts:
        - name: home
          mountPath: /home/jovyan
          subPath: '{escaped_username}'
        securityContext:
          runAsUser: 1000
          runAsGroup: 1000
  dask-gateway:
    gateway:
      backend:
        scheduler:
          extraPodConfig:
            nodeSelector:
              2i2c/hub-name: staging
        worker:
          extraPodConfig:
            nodeSelector:
              2i2c/hub-name: staging
  jupyterhub-home-nfs:
    eks:
      volumeId: vol-0eb31cae0bd3ee261

  nfs:
    pv:
      serverIP: 10.100.35.0
  binderhub-service:
    dockerApi:
      nodeSelector:
        2i2c/hub-name: staging
    config:
      KubernetesBuildExecutor:
        node_selector:
          2i2c/hub-name: staging
