nfs:
  pv:
    serverIP: 10.100.129.224
userServiceAccount:
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::916098889494:role/maap-staging
jupyterhub:
  custom:
    2i2c:
      add_staff_user_ids_to_admin_users: false
    homepage:
      gitRepoBranch: staging
      gitRepoUrl: https://github.com/MAAP-Project/maap-hub-homepage
  singleuser:
    storage:
      extraVolumes:
      - name: dev-shm
        emptyDir:
          medium: Memory
      - name: s3fs-volume
        emptyDir: {}
    extraEnv:
      SCRATCH_BUCKET: s3://maap-scratch-staging/$(JUPYTERHUB_USER)
      MAAP_API_HOST: api.uat.maap-project.org
      WORKSPACE_BUCKET: maap-staging-workspace
      DOCKERIMAGE_PATH_DEFAULT: mas.dit.maap-project.org/root/maap-workspaces/custom_images/maap_base:develop
      DOCKERIMAGE_PATH_BASE_IMAGE: $(JUPYTER_IMAGE)
    nodeSelector:
      2i2c/hub-name: staging
    # NOTE the only difference between profileList for staging and prod is the image tags
    # prod should always have the latest official release and staging has develop unless we are 
    # actively doing a release in which case staging images point to our release tag 
    profileList:
    - display_name: Choose your environment and resources
      default: true
      profile_options:
        image:
          display_name: Environment
          dynamic_image_building:
            enabled: true
          unlisted_choice:
            enabled: true
            display_name: Custom image
            validation_regex: ^.+:.+$
            validation_message: Must be a publicly available docker image, of form <image-name>:<tag>
            kubespawner_override:
              image: '{value}'
          choices:
            01-pangeo:
              display_name: Modified Pangeo Notebook
              description: Pangeo based notebook with a Python environment
              kubespawner_override:
                image: mas.dit.maap-project.org/root/maap-workspaces/2i2c/pangeo:develop
                image_pull_policy: Always
                init_containers:
                - name: jupyterhub-gitpuller-init
                  image: public.ecr.aws/nasa-veda/jupyterhub-gitpuller-init:97eb45f9d23b128aff810e45911857d5cffd05c2
                  env:
                  - name: TARGET_PATH
                    value: veda-docs
                  - name: SOURCE_REPO
                    value: https://github.com/NASA-IMPACT/veda-docs
                  volumeMounts:
                  - name: home
                    mountPath: /home/jovyan
                    subPath: '{escaped_username}'
                  securityContext:
                    runAsUser: 1000
                    runAsGroup: 1000
            02-rocker:
              display_name: Rocker Geospatial
              description: JupyterHub environment with many R geospatial libraries pre-installed
              kubespawner_override:
                image: mas.dit.maap-project.org/root/maap-workspaces/2i2c/r:develop
                image_pull_policy: Always
                init_containers:
                - name: jupyterhub-gitpuller-init
                  image: public.ecr.aws/nasa-veda/jupyterhub-gitpuller-init:97eb45f9d23b128aff810e45911857d5cffd05c2
                  env:
                  - name: TARGET_PATH
                    value: veda-docs
                  - name: SOURCE_REPO
                    value: https://github.com/NASA-IMPACT/veda-docs
                  volumeMounts:
                  - name: home
                    mountPath: /home/jovyan
                    subPath: '{escaped_username}'
                  securityContext:
                    runAsUser: 1000
                    runAsGroup: 1000
            03-isce3:
              display_name: isce3
              description: Pangeo based notebook with a Python environment and isce3
              kubespawner_override:
                image: mas.dit.maap-project.org/root/maap-workspaces/2i2c/isce3:develop
                image_pull_policy: Always
                init_containers:
                - name: jupyterhub-gitpuller-init
                  image: public.ecr.aws/nasa-veda/jupyterhub-gitpuller-init:97eb45f9d23b128aff810e45911857d5cffd05c2
                  env:
                  - name: TARGET_PATH
                    value: veda-docs
                  - name: SOURCE_REPO
                    value: https://github.com/NASA-IMPACT/veda-docs
                  volumeMounts:
                  - name: home
                    mountPath: /home/jovyan
                    subPath: '{escaped_username}'
                  securityContext:
                    runAsUser: 1000
                    runAsGroup: 1000
            04-qgis:
              display_name: QGIS on Linux Desktop
              description: Linux desktop in the browser, with qgis installed
              kubespawner_override:
                  # Launch people directly into the Linux desktop when they start
                default_url: /desktop
                  # Built from https://github.com/2i2c-org/nasa-qgis-image
                image: quay.io/2i2c/nasa-qgis-image:d76118ea0c15
        resource_allocation:
          display_name: Resource Allocation
          choices:
            # [[[cog
            # import os; assert "IGNORE_COG_WARNING" in os.environ, "SET IGNORE_COG_WARNING and modify after running"
            # from deployer.dev_commands.generate.resource_allocation.generate_choices import choices
            # choices(["r5.xlarge:5", "r5.4xlarge:2"], "proportional-memory-strategy", default=True)
            # ]]]
            mem_2_gb:
              display_name: ~2 GB RAM, ~0.2 CPUs
              allowed_groups:
              - CPU:XS
              description: Up to ~4 CPUs when available
              kubespawner_override:
                mem_guarantee: 1951419879
                mem_limit: 1951419879
                cpu_guarantee: 0.22815625
                cpu_limit: 3.6505
                node_selector:
                  node.kubernetes.io/instance-type: r5.xlarge
            mem_4_gb:
              display_name: ~4 GB RAM, ~0.5 CPUs
              allowed_groups:
              - CPU:S
              description: Up to ~4 CPUs when available
              kubespawner_override:
                mem_guarantee: 3902839759
                mem_limit: 3902839759
                cpu_guarantee: 0.4563125
                cpu_limit: 3.6505
                node_selector:
                  node.kubernetes.io/instance-type: r5.xlarge
            mem_7_gb:
              display_name: ~7 GB RAM, ~0.9 CPUs
              allowed_groups:
              - CPU:M
              description: Up to ~4 CPUs when available
              kubespawner_override:
                mem_guarantee: 7805679519
                mem_limit: 7805679519
                cpu_guarantee: 0.912625
                cpu_limit: 3.6505
                node_selector:
                  node.kubernetes.io/instance-type: r5.xlarge
            mem_15_gb:
              display_name: ~15 GB RAM, ~1.8 CPUs
              allowed_groups:
              - CPU:L
              description: Up to ~4 CPUs when available
              kubespawner_override:
                mem_guarantee: 15611359038
                mem_limit: 15611359038
                cpu_guarantee: 1.82525
                cpu_limit: 3.6505
                node_selector:
                  node.kubernetes.io/instance-type: r5.xlarge
              default: true
            mem_29_gb:
              display_name: ~29 GB RAM, ~4 CPUs
              allowed_groups:
              - CPU:XL
              description: ~4 CPUs always available
              kubespawner_override:
                mem_guarantee: 31222718077
                mem_limit: 31222718077
                cpu_guarantee: 3.6505
                cpu_limit: 3.6505
                node_selector:
                  node.kubernetes.io/instance-type: r5.xlarge
            mem_60_gb:
              display_name: ~60 GB RAM, ~8 CPUs
              allowed_groups:
              - CPU:XXL
              description: Up to ~15 CPUs when available
              kubespawner_override:
                mem_guarantee: 64020707016
                mem_limit: 64020707016
                cpu_guarantee: 7.69055
                cpu_limit: 15.3811
                node_selector:
                  node.kubernetes.io/instance-type: r5.4xlarge
            mem_119_gb:
              display_name: ~119 GB RAM, ~15 CPUs
              allowed_groups:
              - CPU:XXXL
              description: ~15 CPUs always available
              kubespawner_override:
                mem_guarantee: 128041414033
                mem_limit: 128041414033
                cpu_guarantee: 15.3811
                cpu_limit: 15.3811
                node_selector:
                  node.kubernetes.io/instance-type: r5.4xlarge
            # [[[end]]]
    - display_name: NVIDIA Tesla T4, ~16 GB, ~4 CPUs
      description: Start a container on a dedicated node with a GPU
      slug: gpu
      allowed_groups:
      - GPU:T4
      profile_options:
        image:
          display_name: Environment
          dynamic_image_building:
            enabled: true
          unlisted_choice:
            enabled: true
            display_name: Custom image
            validation_regex: ^.+:.+$
            validation_message: Must be a publicly available docker image of form <image-name>:<tag>
            kubespawner_override:
              image: '{value}'
          choices:
            pytorch:
              display_name: Pangeo PyTorch ML Notebook
              default: false
              slug: pytorch
              kubespawner_override:
                image: quay.io/pangeo/pytorch-notebook:2024.11.11
            pytorch-maap:
              display_name: Pangeo PyTorch ML Notebook with MAAP extensions
              default: false
              slug: pytorch
              kubespawner_override:
                image: mas.dit.maap-project.org/root/maap-workspaces/2i2c/pytorch:develop
            tensorflow2:
              display_name: Pangeo Tensorflow2 ML Notebook
              default: false
              slug: tensorflow2
              kubespawner_override:
                image: quay.io/pangeo/ml-notebook:2024.11.11
            tensorflow2-maap:
              display_name: Pangeo Tensorflow2 ML Notebook with MAAP extensions
              default: true
              slug: tensorflow2
              kubespawner_override:
                image: mas.dit.maap-project.org/root/maap-workspaces/2i2c/tensorflow2:develop
      kubespawner_override:
        environment:
          NVIDIA_DRIVER_CAPABILITIES: compute,utility
        mem_limit:
        mem_guarantee: 14G
        node_selector:
          node.kubernetes.io/instance-type: g4dn.xlarge
        extra_resource_limits:
          nvidia.com/gpu: '1'
  hub:
    extraConfig:
      # Undo unnecessary common config
      00-volumes-and-volume-mounts-as-dict: ''

    config:
      GenericOAuthenticator:
        oauth_callback_url: https://staging.hub.maap-project.org/hub/oauth_callback
        token_url: https://keycloak.delta-backend.xyz/realms/maap/protocol/openid-connect/token
        authorize_url: https://keycloak.delta-backend.xyz/realms/maap/protocol/openid-connect/auth
      # Disable for now the authentication token refreshing
      # https://oauthenticator.readthedocs.io/en/latest/reference/api/gen/oauthenticator.oauth2.html#oauthenticator.oauth2.OAuthenticator.auth_refresh_age
      Authenticator:
        auth_refresh_age: 0
  ingress:
    hosts: [staging.hub.maap-project.org]
    tls:
    - hosts: [staging.hub.maap-project.org]
      secretName: https-auto-tls

dask-gateway:
  gateway:
    backend:
      scheduler:
        extraPodConfig:
          nodeSelector:
            2i2c/hub-name: staging
      worker:
        extraPodConfig:
          node_selector:
            2i2c/hub-name: staging
      imagePullSecrets: [name: image-pull-secret]

binderhub-service:
  dockerApi:
    nodeSelector:
      2i2c/hub-name: staging
  config:
    KubernetesBuildExecutor:
      node_selector:
        2i2c/hub-name: staging
    BinderHub:
      image_prefix: quay.io/imagebuilding-non-gcp-hubs/maap-staging-

jupyterhub-home-nfs:
  eks:
    volumeId: vol-043cd887a98827319
