alertmanager:
  enabled: false

prometheus-pushgateway:
  enabled: false

kube-state-metrics:
  enabled: false

prometheus-node-exporter:
  enabled: false

server:
  retention: 1098d # 3 years

  strategy:
    type: Recreate

  persistentVolume:
    existingClaim: federated-prometheus-disk

  service:
    type: ClusterIP
