# These requirements represents the needs for doing various tasks in this git
# repo besides using the deployer script.
#

# chartpress is relevant to build and push helm-charts/images/hub/Dockerfile and
# update basehub's default values to reference the new image.
chartpress==2.*

# requests is used by scripts in the /extra-scripts folder
requests==2.*
