# These requirements represents the needs for doing various tasks in this git
# repo besides using the deployer script.
#

# chartpress is relevant to build and push helm-charts/images/hub/Dockerfile and
# update basehub's default values to reference the new image.
chartpress==2.1.0

# requests is used by extra_scripts/rsync-active-users.py
requests==2.28.1

# rich is used by extra_scripts/count-auth0-apps.py
rich==13.0.0
