# This file represents the needs for the deployer script to function, while the
# dev-requirements.txt file represents the needs in this repo in general.
#

# ruamel.yaml is used to read and write .yaml files.
ruamel.yaml

# auth0 is used to communicate with Auth0's REST API that we integrate with in
# various ways.
auth0-python

# jsonschema is used for validating cluster.yaml configurations
jsonschema

# jhub_client, pytest, and pytest_asyncio are used for our health checks
jhub-client==0.1.4
pytest
pytest-asyncio
