nfs:
  enabled: true
  pv:
    enabled: true
    # from https://docs.aws.amazon.com/efs/latest/ug/mounting-fs-nfs-mount-settings.html
    mountOptions:
    - rsize=1048576
    - wsize=1048576
    - timeo=600
    - soft   # We pick soft over hard, so NFS lockups don't lead to hung processes
    - retrans=2
    - noresvport
jupyterhub:
  custom:
    2i2c:
      add_staff_user_ids_to_admin_users: true
      add_staff_user_ids_of_type: github
    homepage:
      templateVars:
        org:
          name: bnext-bio
          logo_url: https://bnext.bio/assets/logo_1752007791752-BRLYypJ5.png
          url: https://bnext.bio/
        designed_by:
          name: 2i2c
          url: https://2i2c.org
        operated_by:
          name: 2i2c
          url: https://2i2c.org
        funded_by:
          name: b.next
          url: https://bnext.bio/
  hub:
    allowNamedServers: true
    loadRoles:
      user:
        scopes:
        - self
        - shares!user
        - read:users:name
        - list:users
    config:
      KubeSpawner:
        image_pull_policy: Always
      JupyterHub:
        authenticator_class: github
      GitHubOAuthenticator:
        allowed_organizations:
        - 2i2c-org:hub-access-for-2i2c-staff
        - nucleus-eng:hub-access
      Authenticator:
        admin_users:
        - antonjs
        - antonrmolina
      Spawner:
        # Allow these sharing scopes for oauth tokens issued by the oauth client
        oauth_client_allowed_scopes:
        - shares!server
        - servers!server
        - read:users:name
        - list:users
  scheduling:
    userScheduler:
      enabled: true
  singleuser:
    defaultUrl: /lab
binderhub-service:
  enabled: true
    # Explicitly specify what nodes we want for our builds
    # Otherwise we may scale up a larger node than needed
  networkPolicy:
    enabled: true
  dockerApi:
    nodeSelector:
      node.kubernetes.io/instance-type: r5.xlarge
  config:
    KubernetesBuildExecutor:
      node_selector:
        node.kubernetes.io/instance-type: r5.xlarge
    DockerRegistry:
      url: &url https://quay.io
      username: &username imagebuilding-non-gcp-hubs+image_builder
  buildPodsRegistryCredentials:
    server: *url
    username: *username

jupyterhub-home-nfs:
  enabled: true
  eks:
    enabled: true
  prometheusExporter:
    enabled: true
