nfs:
  pv:
    serverIP: 10.100.228.215

userServiceAccount:
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::882437028641:role/bnext-bio-staging

jupyterhub:
  ingress:
    hosts: [staging.beta-hub.nucleus.engineering]
    tls:
    - hosts: [staging.beta-hub.nucleus.engineering]
      secretName: https-auto-tls
  hub:
    image:
      name: quay.io/2i2c/z2jh-431
      tag: 0.0.1-0.dev.git.14004.h556ee4be8
    extraConfig:
      skip_refresh_for_test_user.py: |
        def refresh_user_hook(authenticator, user, auth_state):
          skip_user_list = [
            "deployment-service-check",
            "2i2c-org:hub-access-for-2i2c-staff-collab",
            "nucleus-eng:hub-access-collab",
            "nucleus-eng:devcells-london-node-collab",
            "nucleus-eng:devcells-chicago-node-collab",
            "nucleus-eng:devcells-all-nodes-collab"
            ]
          if user.name in skip_user_list:
              # if this is the user,
              # refresh_user doesn't make sense
              # consider it always fresh
              return True
          # for all other users, refresh as usual
          return None

        c.OAuthenticator.refresh_user_hook = refresh_user_hook
    loadRoles:
      hub-access-for-2i2c-staff-collab-access:
        scopes:
        - access:servers!user=2i2c-org:hub-access-for-2i2c-staff-collab
        - admin:servers!user=2i2c-org:hub-access-for-2i2c-staff-collab
        - list:users!user=2i2c-org:hub-access-for-2i2c-staff-collab
        groups:
        - 2i2c-org:hub-access-for-2i2c-staff
      hub-access-collab-access:
        scopes:
        - access:servers!user=nucleus-eng:hub-access-collab
        - admin:servers!user=nucleus-eng:hub-access-collab
        - list:users!user=nucleus-eng:hub-access-collab
        groups:
        - nucleus-eng:hub-access
      devcells-london-node-collab-access:
        scopes:
        - access:servers!user=nucleus-eng:devcells-london-node-collab
        - admin:servers!user=nucleus-eng:devcells-london-node-collab
        - list:users!user=nucleus-eng:devcells-london-node-collab
        groups:
        - nucleus-eng:hub-access
      devcells-chicago-node-collab-access:
        scopes:
        - access:servers!user=nucleus-eng:devcells-chicago-node-collab
        - admin:servers!user=nucleus-eng:devcells-chicago-node-collab
        - list:users!user=nucleus-eng:devcells-chicago-node-collab
        groups:
        - nucleus-eng:devcells-chicago-node
      devcells-all-nodes-collab-access:
        scopes:
        - access:servers!user=nucleus-eng:devcells-all-nodes-collab
        - admin:servers!user=nucleus-eng:devcells-all-nodes-collab
        - list:users!user=nucleus-eng:devcells-all-nodes-collab
        groups:
        - nucleus-eng:devcells-all-nodes

    config:
      JupyterHub:
        authenticator_class: github
      GitHubOAuthenticator:
        oauth_callback_url: https://staging.beta-hub.nucleus.engineering/hub/oauth_callback
  singleuser:
    profileList:
    - display_name: Choose your environment and resources
      slug: only-choice
      profile_options:
        image:
          display_name: Image
          # Enables dynamic image building for this profile
          dynamic_image_building:
            enabled: true
          unlisted_choice:
            enabled: true
            display_name: Custom image
            validation_regex: ^.+:.+$
            validation_message: Must be a publicly available docker image, of form <image-name>:<tag>
            display_name_in_choices: Specify an existing docker image
            description_in_choices: Use a pre-existing docker image from a public docker registry (dockerhub, quay, etc)
            kubespawner_override:
              image: '{value}'
          choices:
            bnext-nucleus:
              default: true
              display_name: B.next Nucleus
              slug: bnext-nucleus
              kubespawner_override:
                image: quay.io/nucleus/nucleus-hub:2i2c
        resource_allocation:
          display_name: Resource Allocation
          choices:
            mem_4_gb:
              display_name: ~4 GB RAM, ~0.5 CPUs
              description: Up to ~4 CPUs when available
              kubespawner_override:
                mem_guarantee: 3902839759
                mem_limit: 3902839759
                cpu_guarantee: 0.4563125
                cpu_limit: 3.6505
                node_selector:
                  node.kubernetes.io/instance-type: r5.xlarge
            mem_7_gb:
              display_name: ~7 GB RAM, ~0.9 CPUs
              description: Up to ~4 CPUs when available
              kubespawner_override:
                mem_guarantee: 7805679519
                mem_limit: 7805679519
                cpu_guarantee: 0.912625
                cpu_limit: 3.6505
                node_selector:
                  node.kubernetes.io/instance-type: r5.xlarge
            mem_15_gb:
              display_name: ~15 GB RAM, ~1.8 CPUs
              description: Up to ~4 CPUs when available
              kubespawner_override:
                mem_guarantee: 15611359038
                mem_limit: 15611359038
                cpu_guarantee: 1.82525
                cpu_limit: 3.6505
                node_selector:
                  node.kubernetes.io/instance-type: r5.xlarge
            mem_29_gb:
              display_name: ~29 GB RAM, ~4 CPUs
              description: ~4 CPUs always available
              kubespawner_override:
                mem_guarantee: 31222718077
                mem_limit: 31222718077
                cpu_guarantee: 3.6505
                cpu_limit: 3.6505
                node_selector:
                  node.kubernetes.io/instance-type: r5.xlarge
    extraEnv:
      SCRATCH_BUCKET: s3://bnext-bio-scratch-staging/$(JUPYTERHUB_USER)
      PERSISTENT_BUCKET: s3://bnext-bio-persistent-staging/$(JUPYTERHUB_USER)
      GH_SCOPED_CREDS_CLIENT_ID: Iv23lizUFFploLuj2hse
      GH_SCOPED_CREDS_APP_URL: https://github.com/apps/bnext-staging-github-push-access

jupyterhub-home-nfs:
  eks:
    volumeId: vol-09363d84917d28027

binderhub-service:
  config:
    BinderHub:
      image_prefix: quay.io/imagebuilding-non-gcp-hubs/bnext-bio-staging-
