basehub:
  nfs:
    enabled: true
    pv:
      enabled: true
      mountOptions:
      - soft
      - noatime
  dask-gateway:
    enabled: true
  jupyterhub:
    custom:
      daskhubSetup:
        enabled: true
    singleuser:
      cloudMetadata:
        blockWithIptables: false
