basehub:
  nfs:
    enabled: true
    pv:
      enabled: true
      mountOptions:
      - soft
      - noatime
      baseShareName: /
  dask-gateway:
    enabled: true
  jupyterhub:
    custom:
      daskhubSetup:
        enabled: true
    singleuser:
      cloudMetadata:
        blockWithIptables: false
  jupyterhub-home-nfs:
    enabled: true
    gke:
      enabled: true
    prometheusExporter:
      enabled: true
