jupyterhub:
  ingress:
    hosts:
      - ucmerced.2i2c.cloud
    tls:
      - secretName: https-auto-tls
        hosts:
          - ucmerced.2i2c.cloud
  singleuser:
    profileList:
      - display_name: Python
        description: Start a Python server with JupyterLab and scientific Python stack
        default: true
        kubespawner_override:
          # From https://github.com/SaiUCM/example-inherit-from-community-image
          # See https://2i2c.freshdesk.com/a/tickets/1612
          # See https://2i2c.freshdesk.com/a/tickets/1771
          image: quay.io/cirt_ucm/jupyter-scipy-xarray:254e773d6003
          # Launch into JupyterLab after the user logs in
          default_url: /lab
      - display_name: R
        description: Start a R server with tidyverse & Geospatial tools
        kubespawner_override:
          # From https://github.com/2i2c-org/rocker-with-nbgitpuller
          image: quay.io/2i2c/rocker-with-nbgitpuller:3edc87d73e3d
          default_url: /lab
          # Ensures container working dir is homedir
          # https://github.com/2i2c-org/infrastructure/issues/2559
          working_dir: /home/rstudio
  hub:
    config:
      CILogonOAuthenticator:
        oauth_callback_url: https://ucmerced.2i2c.cloud/hub/oauth_callback
