nfs:
  enabled: true
  pv:
    enabled: true
    volumeReporter:
      enabled: false
    # from https://docs.aws.amazon.com/efs/latest/ug/mounting-fs-nfs-mount-settings.html
    mountOptions:
      - rsize=1048576
      - wsize=1048576
      - timeo=600
      - soft # We pick soft over hard, so NFS lockups don't lead to hung processes
      - retrans=2
      - noresvport
    serverIP: fs-0a99c54ad0abc573e.efs.us-west-2.amazonaws.com
    baseShareName: /
jupyterhub:
  custom:
    2i2c:
      add_staff_user_ids_to_admin_users: true
      add_staff_user_ids_of_type: github
    jupyterhubConfigurator:
      enabled: false
    homepage:
      templateVars:
        org:
          name: kitware
          logo_url: https://www.kitware.com/main/wp-content/uploads/2021/10/Kitware-Wordmark.svg
          url: https://www.kitware.com/
        designed_by:
          name: 2i2c
          url: https://2i2c.org
        operated_by:
          name: 2i2c
          url: https://2i2c.org
        funded_by:
          name: Kitware
          url: https://www.kitware.com/
  hub:
    allowNamedServers: true
    config:
      JupyterHub:
        authenticator_class: github
      Authenticator:
        admin_users:
          - aashish24
          - annehaley
          - johnkit
      GitHubOAuthenticator:
        allowed_organizations:
          - Pan3D-Community
        scope:
          - read:org
  singleuser:
    defaultUrl: /lab
    profileList:
      - display_name: Pangeo Notebook
        default: true
        kubespawner_override:
          image: pangeo/pangeo-notebook:2024.04.08
        profile_options: &profile_options
          requests: &profile_options_resource_allocation
            display_name: Resource Allocation
            choices:
              mem_1_9:
                display_name: 1.9 GB RAM, upto 3.7 CPUs
                kubespawner_override:
                  mem_guarantee: 1991244775
                  mem_limit: 1991244775
                  cpu_guarantee: 0.2328125
                  cpu_limit: 3.725
                  node_selector:
                    node.kubernetes.io/instance-type: r5.xlarge
                default: true
              mem_3_7:
                display_name: 3.7 GB RAM, upto 3.7 CPUs
                kubespawner_override:
                  mem_guarantee: 3982489550
                  mem_limit: 3982489550
                  cpu_guarantee: 0.465625
                  cpu_limit: 3.725
                  node_selector:
                    node.kubernetes.io/instance-type: r5.xlarge
              mem_7_4:
                display_name: 7.4 GB RAM, upto 3.7 CPUs
                kubespawner_override:
                  mem_guarantee: 7964979101
                  mem_limit: 7964979101
                  cpu_guarantee: 0.93125
                  cpu_limit: 3.725
                  node_selector:
                    node.kubernetes.io/instance-type: r5.xlarge
              mem_14_8:
                display_name: 14.8 GB RAM, upto 3.7 CPUs
                kubespawner_override:
                  mem_guarantee: 15929958203
                  mem_limit: 15929958203
                  cpu_guarantee: 1.8625
                  cpu_limit: 3.725
                  node_selector:
                    node.kubernetes.io/instance-type: r5.xlarge
              mem_29_7:
                display_name: 29.7 GB RAM, upto 3.7 CPUs
                kubespawner_override:
                  mem_guarantee: 31859916406
                  mem_limit: 31859916406
                  cpu_guarantee: 3.725
                  cpu_limit: 3.725
                  node_selector:
                    node.kubernetes.io/instance-type: r5.xlarge
      - display_name: Kitware Trame
        default: true
        kubespawner_override:
          image: kitware/trame:pan3d-cloud
          # Not an immutable tag
          image_pull_policy: Always
        profile_options: *profile_options
      - display_name: "Bring your own image"
        description: Specify your own docker image (must have python and jupyterhub installed in it)
        slug: custom
        profile_options:
          image:
            display_name: Image
            unlisted_choice:
              enabled: True
              display_name: "Custom image"
              validation_regex: "^.+:.+$"
              validation_message: "Must be a publicly available docker image, of form <image-name>:<tag>"
              kubespawner_override:
                image: "{value}"
            choices: {}
          resource_allocation: *profile_options_resource_allocation
  scheduling:
    userScheduler:
      enabled: true
