jupyterhub:
  ingress:
    hosts: [chicagostate.cloudbank.2i2c.cloud]
    tls:
    - hosts: [chicagostate.cloudbank.2i2c.cloud]
      secretName: https-auto-tls
  custom:
    2i2c:
      add_staff_user_ids_to_admin_users: true
      add_staff_user_ids_of_type: google
    homepage:
      templateVars:
        org:
          name: Chicago State University
          logo_url: https://a.espncdn.com/combiner/i?img=/i/teamlogos/ncaa/500/2130.png&h=200&w=200
          url: https://www.csu.edu/
        designed_by:
          name: 2i2c
          url: https://2i2c.org
        operated_by:
          name: CloudBank
          url: http://cloudbank.org/
        funded_by:
          name: CloudBank
          url: http://cloudbank.org/
  hub:
    config:
      JupyterHub:
        authenticator_class: cilogon
      CILogonOAuthenticator:
        oauth_callback_url: https://chicagostate.cloudbank.2i2c.cloud/hub/oauth_callback
        allowed_idps:
          http://login.microsoftonline.com/common/oauth2/v2.0/authorize:
            default: true
            username_derivation:
              username_claim: email
            allowed_domains:
            - csu.edu
          http://google.com/accounts/o8/id:
            default: true
            username_derivation:
              username_claim: email
      Authenticator:
        admin_users:
        - ericvd@berkeley.edu
        - sean.smorris@berkeley.edu
        - mayyash@csu.edu
jupyterhub-home-nfs:
  gke:
    volumeId: projects/cb-1003-1696/zones/us-central1-b/disks/hub-nfs-homedirs-chicagostate
  nfsServer:
    resources:
      requests:
        memory: 500M
      limits:
        memory: 1.5G
nfs:
  pv:
    serverIP: storage-quota-home-nfs.chicagostate.svc.cluster.local
