jupyterhub:
  ingress:
    hosts: [cmu.cloudbank.2i2c.cloud]
    tls:
    - hosts: [cmu.cloudbank.2i2c.cloud]
      secretName: https-auto-tls
  singleuser:
    defaultUrl: /lab
    memory:
      guarantee: 512M
      limit: 1G
  custom:
    2i2c:
      add_staff_user_ids_of_type: google
      add_staff_user_ids_to_admin_users: true
    homepage:
      templateVars:
        designed_by:
          name: 2i2c
          url: https://2i2c.org
        funded_by:
          name: CloudBank
          url: http://cloudbank.org/
        operated_by:
          name: CloudBank
          url: http://cloudbank.org/
        org:
          logo_url: https://keystoneacademic-res.cloudinary.com/image/upload/c_pad,w_256,h_121/dpr_auto/f_auto/q_auto/v1/element/22/221143__logo.png
          name: Carnegie Mellon University
          url: https://www.cmu.edu
  hub:
    config:
      JupyterHub:
        authenticator_class: cilogon
      CILogonOAuthenticator:
        oauth_callback_url: https://cmu.cloudbank.2i2c.cloud/hub/oauth_callback
        allowed_idps:
          https://login.cmu.edu/idp/shibboleth:
            default: true
            username_derivation:
              username_claim: email
            allow_all: true
          http://google.com/accounts/o8/id:
            username_derivation:
              username_claim: email
      Authenticator:
        admin_users:
        - sean.smorris@berkeley.edu
        - ericvd@berkeley.edu
        - ddeblasi@andrew.cmu.edu
        - icaoberg@andrew.cmu.edu
        - aramchal@andrew.cmu.edu
        - daphneh@andrew.cmu.edu
        - jslackma@andrew.cmu.edu

jupyterhub-home-nfs:
  gke:
    volumeId: projects/cb-1003-1696/zones/us-central1-b/disks/hub-nfs-homedirs-cmu
nfs:
  pv:
    serverIP: storage-quota-home-nfs.cmu.svc.cluster.local
