jupyterhub:
  ingress:
    hosts: [csulb.cloudbank.2i2c.cloud]
    tls:
      - hosts: [csulb.cloudbank.2i2c.cloud]
        secretName: https-auto-tls
  singleuser:
    memory:
      # Increased to help deal with possible kernel restarts
      # https://2i2c.freshdesk.com/a/tickets/567
      guarantee: 384M
      limit: 1.5G
  custom:
    2i2c:
      add_staff_user_ids_to_admin_users: true
      add_staff_user_ids_of_type: "google"
    homepage:
      templateVars:
        org:
          name: CSU Long Beach
          logo_url: https://www.csulb.edu/themes/custom/csulb/images/logo.png
          url: https://www.csulb.edu/
        designed_by:
          name: 2i2c
          url: https://2i2c.org
        operated_by:
          name: CloudBank
          url: http://cloudbank.org/
        funded_by:
          name: CloudBank
          url: http://cloudbank.org/
  hub:
    config:
      JupyterHub:
        authenticator_class: cilogon
      CILogonOAuthenticator:
        oauth_callback_url: https://csulb.cloudbank.2i2c.cloud/hub/oauth_callback
        allowed_idps:
          https://its-shib.its.csulb.edu/idp/shibboleth:
            default: true
            username_derivation:
              username_claim: "email"
            allow_all: true
          http://google.com/accounts/o8/id:
            username_derivation:
              username_claim: "email"
            allowed_domains:
              - csulb.edu
              - student.csulb.edu
      Authenticator:
        admin_users:
          - ericvd@berkeley.edu
          - sean.smorris@berkeley.edu
          - shabnam.sodagari@csulb.edu
          - Kagba.Suaray@csulb.edu
          - Tianni.Zhou@csulb.edu
          - Antonio.Martinez@csulb.edu
          - Babette.Benken@csulb.edu
          - Florence.Newberger@csulb.edu
          - Seungjoon.Lee@csulb.edu
  cull:
    # Cull after 30min of inactivity
    every: 300
    timeout: 1800
    # No pods over 12h long
    maxAge: 43200
