jupyterhub:
  ingress:
    hosts: [dvc.cloudbank.2i2c.cloud]
    tls:
      - hosts: [dvc.cloudbank.2i2c.cloud]
        secretName: https-auto-tls
  singleuser:
    memory:
      # Increased to help deal with possible kernel restarts
      # https://2i2c.freshdesk.com/a/tickets/567
      guarantee: 384M
      limit: 1.5G
  custom:
    2i2c:
      add_staff_user_ids_of_type: google
      add_staff_user_ids_to_admin_users: true
    homepage:
      templateVars:
        designed_by:
          name: 2i2c
          url: https://2i2c.org
        funded_by:
          name: CloudBank
          url: http://cloudbank.org/
        operated_by:
          name: CloudBank
          url: http://cloudbank.org/
        org:
          logo_url: https://www.dvcinquirer.com/wp-content/uploads/2022/03/dvc-logo-sidebar.png
          name: Diablo Valley College
          url: https://www.dvc.edu/
  hub:
    config:
      CILogonOAuthenticator:
        oauth_callback_url: https://dvc.cloudbank.2i2c.cloud/hub/oauth_callback
        allowed_idps:
          http://login.microsoftonline.com/common/oauth2/v2.0/authorize:
            default: true
            username_derivation:
              username_claim: "email"
            allowed_domains:
              - dvc.edu
              - 4cd.edu
              - email.4cd.edu
              - insite.4cd.edu
              - losmedanos.edu
              - contracosta.edu
          http://google.com/accounts/o8/id:
            username_derivation:
              username_claim: "email"
            allowed_domains:
              - dvc.edu
      JupyterHub:
        authenticator_class: cilogon
      Authenticator:
        admin_users:
          - ericvd@berkeley.edu
          - sean.smorris@berkeley.edu
          - namato@dvc.edu
          - llo@dvc.edu
          - jazlin.dvc@gmail.com
          - sean.smorris@gmail.com
