jupyterhub:
  ingress:
    hosts: [golden.cloudbank.2i2c.cloud]
    tls:
    - hosts: [golden.cloudbank.2i2c.cloud]
      secretName: https-auto-tls
  singleuser:
    memory:
      # Increased to help deal with possible kernel restarts
      # https://2i2c.freshdesk.com/a/tickets/567
      guarantee: 384M
      limit: 1.5G
  custom:
    2i2c:
      add_staff_user_ids_of_type: github
      add_staff_user_ids_to_admin_users: true
    homepage:
      templateVars:
        designed_by:
          name: 2i2c
          url: https://2i2c.org
        funded_by:
          name: CloudBank
          url: http://cloudbank.org/
        operated_by:
          name: CloudBank
          url: http://cloudbank.org/
        org:
          logo_url: https://www.goldenwestcollege.edu/assets/images/gwc-logo.png
          name: Golden West College
          url: https://www.goldenwestcollege.edu/
  hub:
    config:
      JupyterHub:
        authenticator_class: cilogon
      CILogonOAuthenticator:
        oauth_callback_url: https://golden.cloudbank.2i2c.cloud/hub/oauth_callback
        allowed_idps:
          http://login.microsoftonline.com/common/oauth2/v2.0/authorize:
            default: true
            username_derivation:
              username_claim: email
            allowed_domains:
            - cccd.edu
          http://google.com/accounts/o8/id:
            username_derivation:
              username_claim: email
      Authenticator:
        admin_users:
        - ericvd@berkeley.edu
        - sean.smorris@berkeley.edu
        - aedmonds5@cccd.edu
jupyterhub-home-nfs:
  gke:
    volumeId: projects/cb-1003-1696/zones/us-central1-b/disks/hub-nfs-homedirs-golden
nfs:
  pv:
    serverIP: 10.3.244.124
    baseShareName: /
