jupyterhub:
  ingress:
    hosts: [humboldt.cloudbank.2i2c.cloud]
    tls:
      - hosts: [humboldt.cloudbank.2i2c.cloud]
        secretName: https-auto-tls
  prePuller:
    continuous:
      enabled: true
    hook:
      enabled: true
  singleuser:
    memory:
      guarantee: 512M
      limit: 1G
  custom:
    2i2c:
      add_staff_user_ids_to_admin_users: true
      add_staff_user_ids_of_type: "google"
    homepage:
      templateVars:
        org:
          name: Cal Poly Humboldt
          logo_url: https://brand.humboldt.edu/sites/all/modules/copyprevention/transparent.gif
          url: https://www.humboldt.edu/
        designed_by:
          name: 2i2c
          url: https://2i2c.org
        operated_by:
          name: CloudBank
          url: http://cloudbank.org/
        funded_by:
          name: CloudBank
          url: http://cloudbank.org/
  hub:
    config:
      JupyterHub:
        authenticator_class: cilogon
      CILogonOAuthenticator:
        oauth_callback_url: https://humboldt.cloudbank.2i2c.cloud/hub/oauth_callback
        username_claim: email
      Authenticator:
        # These folks should still have admin tho
        admin_users:
          - ericvd@berkeley.edu
          - sean.smorris@berkeley.edu
          - bl222@humboldt.edu
          - bj117@humboldt.edu
        # We only want 2i2c users and users with .edu emails to sign up
        # Protects against cryptominers - https://github.com/2i2c-org/infrastructure/issues/1216
        # FIXME: This doesn't account for educational institutions that have emails that don't end in .edu,
        # as is the case for some non-euroamerican universities.
        username_pattern: '^(.+@2i2c\.org|.+@humboldt.edu|.+@berkeley.edu|deployment-service-check)$'
  cull:
    # Cull after 30min of inactivity
    every: 300
    timeout: 1800
    # No pods over 12h long
    maxAge: 43200
