jupyterhub:
  ingress:
    hosts: [miracosta.cloudbank.2i2c.cloud]
    tls:
      - hosts: [miracosta.cloudbank.2i2c.cloud]
        secretName: https-auto-tls
  custom:
    2i2c:
      add_staff_user_ids_to_admin_users: true
      add_staff_user_ids_of_type: "google"
    homepage:
      templateVars:
        org:
          name: MiraCosta College
          logo_url: https://www.miracosta.edu/_resources/images/site-logo2.svg
          url: https://www.miracosta.edu/
        designed_by:
          name: 2i2c
          url: https://2i2c.org
        operated_by:
          name: CloudBank
          url: http://cloudbank.org/
        funded_by:
          name: CloudBank
          url: http://cloudbank.org/
  hub:
    config:
      JupyterHub:
        authenticator_class: cilogon
      CILogonOAuthenticator:
        oauth_callback_url: https://miracosta.cloudbank.2i2c.cloud/hub/oauth_callback
        username_claim: email
      Authenticator:
        admin_users:
          - sfirouzian@miracosta.edu
          - shawnfirouzian@gmail.com
          - ericvd@berkeley.edu
          - sean.smorris@berkeley.edu
        username_pattern: '^(.+@2i2c\.org|.+@berkeley\.edu|.+@miracosta\.edu|shawnfirouzian@gmail.com|deployment-service-check)$'
