jupyterhub:
  ingress:
    hosts: [wlac.cloudbank.2i2c.cloud]
    tls:
    - hosts: [wlac.cloudbank.2i2c.cloud]
      secretName: https-auto-tls
  custom:
    2i2c:
      add_staff_user_ids_to_admin_users: true
      add_staff_user_ids_of_type: github
    homepage:
      templateVars:
        org:
          name: West Los Angeles College
          logo_url: https://www.wlac.edu/sites/wlac.edu/files/wlac-logo.svg
          url: https://www.wlac.edu/
        designed_by:
          name: 2i2c
          url: https://2i2c.org
        operated_by:
          name: CloudBank
          url: http://cloudbank.org/
        funded_by:
          name: CloudBank
          url: http://cloudbank.org/
  hub:
    config:
      JupyterHub:
        authenticator_class: github
      GitHubOAuthenticator:
        oauth_callback_url: https://wlac.cloudbank.2i2c.cloud/hub/oauth_callback
        allowed_organizations:
        - WLAC-CS
        scope:
        - read:org
      Authenticator:
        admin_users:
        - kgorfu   # WLAC instructor
        - sean-morris
jupyterhub-home-nfs:
  gke:
    volumeId: projects/cb-1003-1696/zones/us-central1-b/disks/hub-nfs-homedirs-wlac
  persistentVolume:
    size: 10Gi
