basehub:
  userServiceAccount:
    annotations:
      eks.amazonaws.com/role-arn: arn:aws:iam::129856558350:role/victor-staging
  dask-gateway:
    gateway:
      backend:
        scheduler:
          extraPodConfig:
            nodeSelector:
              2i2c/hub-name: staging
        worker:
          extraPodConfig:
            nodeSelector:
              2i2c/hub-name: staging
  jupyterhub:
    ingress:
      hosts: [staging.hub.victorproject.org]
      tls:
        - hosts: [staging.hub.victorproject.org]
          secretName: https-auto-tls
    hub:
      config:
        CILogonOAuthenticator:
          oauth_callback_url: https://staging.hub.victorproject.org/hub/oauth_callback
    singleuser:
      nodeSelector:
        2i2c/hub-name: staging
      profileList:
        # IMPORTANT: Staging and prod's profileList's are meant to be kept
        #            equivalent with the exception that staging adds
        #            unlisted_choice to pick a custom image. If you update
        #            either, update the other as well.
        #
        - display_name: CPU Only
          profile_options: &profile_options
            image: &profile_option_image
              display_name: Image
              choices:
                a-victor-notebook:
                  display_name: Victor Notebook
                  default: true
                  kubespawner_override:
                    image: quay.io/volcanocyber/victor-notebook:afd68aef9dc1
                b-pytorch-notebook:
                  display_name: Pangeo ML Notebook (Pytorch)
                  kubespawner_override:
                    image: "quay.io/pangeo/pytorch-notebook:2024.09.11"
                c-ml-notebook:
                  display_name: Pangeo ML Notebook (Tensorflow)
                  kubespawner_override:
                    image: "quay.io/pangeo/ml-notebook:2024.09.11"
              unlisted_choice:
                enabled: true
                display_name: "Custom image"
                validation_regex: "^.+:.+$"
                validation_message: "Must be a publicly available docker image, of form <image-name>:<tag>"
                kubespawner_override:
                  image: "{value}"
            resource_allocation: &profile_option_resource_allocation
              display_name: Resource Allocation
              choices:
                mem_1_9:
                  default: true
                  display_name: 1.9 GB RAM, upto 3.7 CPUs
                  kubespawner_override:
                    mem_guarantee: 1991244775
                    mem_limit: 1991244775
                    cpu_guarantee: 0.2328125
                    cpu_limit: 3.725
                    node_selector:
                      node.kubernetes.io/instance-type: r5.xlarge
                mem_3_7:
                  display_name: 3.7 GB RAM, upto 3.7 CPUs
                  kubespawner_override:
                    mem_guarantee: 3982489550
                    mem_limit: 3982489550
                    cpu_guarantee: 0.465625
                    cpu_limit: 3.725
                    node_selector:
                      node.kubernetes.io/instance-type: r5.xlarge
                mem_7_4:
                  display_name: 7.4 GB RAM, upto 3.7 CPUs
                  kubespawner_override:
                    mem_guarantee: 7964979101
                    mem_limit: 7964979101
                    cpu_guarantee: 0.93125
                    cpu_limit: 3.725
                    node_selector:
                      node.kubernetes.io/instance-type: r5.xlarge
                mem_14_8:
                  display_name: 14.8 GB RAM, upto 3.7 CPUs
                  kubespawner_override:
                    mem_guarantee: 15929958203
                    mem_limit: 15929958203
                    cpu_guarantee: 1.8625
                    cpu_limit: 3.725
                    node_selector:
                      node.kubernetes.io/instance-type: r5.xlarge
                mem_29_7:
                  display_name: 29.7 GB RAM, upto 3.7 CPUs
                  kubespawner_override:
                    mem_guarantee: 31859916406
                    mem_limit: 31859916406
                    cpu_guarantee: 3.725
                    cpu_limit: 3.725
                    node_selector:
                      node.kubernetes.io/instance-type: r5.xlarge
                mem_60_6:
                  display_name: 60.6 GB RAM, upto 15.6 CPUs
                  kubespawner_override:
                    mem_guarantee: 65094448840
                    mem_limit: 65094448840
                    cpu_guarantee: 7.8475
                    cpu_limit: 15.695
                    node_selector:
                      node.kubernetes.io/instance-type: r5.4xlarge
                mem_121_2:
                  display_name: 121.2 GB RAM, upto 15.6 CPUs
                  kubespawner_override:
                    mem_guarantee: 130188897681
                    mem_limit: 130188897681
                    cpu_guarantee: 15.695
                    cpu_limit: 15.695
                    node_selector:
                      node.kubernetes.io/instance-type: r5.4xlarge
        - display_name: NVIDIA Tesla T4, ~16 GB, ~4 CPUs
          description: "Start a container on a dedicated node with a GPU"
          slug: "gpu"
          kubespawner_override:
            environment:
              NVIDIA_DRIVER_CAPABILITIES: compute,utility
            mem_limit: null
            mem_guarantee: 14G
            node_selector:
              node.kubernetes.io/instance-type: g4dn.xlarge
            extra_resource_limits:
              nvidia.com/gpu: "1"
          profile_options:
            image: *profile_option_image
