name: "Deploy prerequisites"
description: "Prerequisites needed to deploy hubs in a 2i2c cluster"
inputs:
  cluster:
    description: "Cluster name"
    required: true
    default: "2i2c"
runs:
  using: "composite"
  steps:
    - name: Get gcloud info
      run: gcloud info
      shell: bash
    - name: Setup gcloud auth for docker
      # FIXME: Add more auth providers & registries here as needed
      run: |
        gcloud auth configure-docker us-central1-docker.pkg.dev
      shell: bash
    - name: Setup dependencies
      run: |
        python3 -m pip install -r requirements.txt
        python3 -m pip install -r dev-requirements.txt
      shell: bash
    - name: Deploy support components
      run: |
        python3 deployer deploy-support ${{ inputs.cluster }}
      shell: bash
    - name: Deploy and test hubs
      run: |
        python3 deployer deploy ${{ inputs.cluster }}
      shell: bash
