nfs:
  enabled: true
  pv:
    enabled: true
    mountOptions:
    - rsize=1048576
    - wsize=1048576
    - timeo=600
    - soft   # We pick soft over hard, so NFS lockups don't lead to hung processes
    - retrans=2
    - noresvport
jupyterhub-home-nfs:
  enabled: true
  eks:
    enabled: true
jupyterhub:
  custom:
    2i2c:
      add_staff_user_ids_to_admin_users: true
      add_staff_user_ids_of_type: google
    homepage:
      templateVars:
        org:
          name: Temple University JupyterHub
          logo_url: https://www.temple.edu/modules/custom/tu_layout/images/brand/t-cherry.svg
          url: https://www.temple.edu/
        designed_by:
          name: 2i2c
          url: https://2i2c.org
        operated_by:
          name: 2i2c
          url: https://2i2c.org
        funded_by:
          name: Temple University
          url: https://www.temple.edu/
  hub:
    allowNamedServers: true
    config:
      JupyterHub:
        authenticator_class: cilogon
      CILogonOAuthenticator:
        allowed_idps:
          https://fim.temple.edu/idp/shibboleth:
            default: true
            username_derivation:
              username_claim: eppn
            allow_all: true
          http://google.com/accounts/o8/id:
            username_derivation:
              username_claim: email
      Authenticator:
        admin_users:
        - jmsmith1@temple.edu
        - rebecca.beadling@temple.edu
        allowed_users:
        - jmsmith1@temple.edu
        - rebecca.beadling@temple.edu
        allow_existing_users: true
  singleuser:
    defaultUrl: /lab
  scheduling:
    userScheduler:
      enabled: true
