nfs:
  enabled: true
  pv:
    enabled: true
    # from https://docs.aws.amazon.com/efs/latest/ug/mounting-fs-nfs-mount-settings.html
    mountOptions:
    - rsize=1048576
    - wsize=1048576
    - timeo=600
    - soft   # We pick soft over hard, so NFS lockups don't lead to hung processes
    - retrans=2
    - noresvport

dask-gateway:
  enabled: true

jupyterhub:
  custom:
    2i2c:
      add_staff_user_ids_to_admin_users: true
      add_staff_user_ids_of_type: github
    daskhubSetup:
      enabled: true
    homepage:
      templateVars:
        org:
          name: NOAA Fisheries Openscapes
          logo_url: https://raw.githubusercontent.com/nmfs-openscapes/nmfs-openscapes.github.io/main/images/logo-transparent-crop.png
          url: https://nmfs-openscapes.github.io/
        designed_by:
          name: 2i2c
          url: https://2i2c.org
        operated_by:
          name: 2i2c
          url: https://2i2c.org
        funded_by:
          name: NOAA Fisheries
          url: https://www.fisheries.noaa.gov
    singleuserAdmin:
      extraVolumeMounts:
      - name: home
        mountPath: /home/jovyan/allusers
        readOnly: false
      - name: home
        mountPath: /home/rstudio/allusers
        readOnly: false
        # mounts below are copied from basehub's values that we override by
        # specifying extraVolumeMounts (lists get overridden when helm values
        # are combined)
      - name: home
        mountPath: /home/jovyan/shared-readwrite
        subPath: _shared
      - name: home
        mountPath: /home/rstudio/shared-readwrite
        subPath: _shared
  singleuser:
    cloudMetadata:
      blockWithIptables: false
    defaultUrl: /lab
    extraEnv:
      GH_SCOPED_CREDS_CLIENT_ID: Iv23lio8dJq5euL8Y2kF
      GH_SCOPED_CREDS_APP_URL: https://github.com/apps/nmfs-openscapes-github-push-access
    profileList:
    - display_name: Default
      description: Choose image and resource allocation
      default: true
      profile_options:
        image:
          display_name: Image
          dynamic_image_building:
            enabled: true
          choices:
            python:
              display_name: Py - NASA Openscapes, Dask Gateway + GCS 65d6916
              slug: python
              kubespawner_override:
                image: ghcr.io/nmfs-opensci/container-images/openscapes:89655e1
            pyrbase:
              display_name: Py-R - py-rocket-base image 4.4-3.10 2025.04.26
              slug: pyrbase
              kubespawner_override:
                image: ghcr.io/nmfs-opensci/py-rocket-base:2025.04.26
            cryo:
              display_name: Py - Cryointhecloud base image latest
              slug: cryo
              kubespawner_override:
                image: quay.io/cryointhecloud/cryo-hub-image:latest
            asar:
              display_name: R - ASAR Stock Assessment - latest
              slug: asar
              kubespawner_override:
                image: ghcr.io/nmfs-opensci/container-images/asar:latest
            echosm:
              display_name: Py-R - echoSMs hackathon - latest
              slug: echosm
              kubespawner_override:
                image: ghcr.io/nmfs-opensci/container-images/acoustics:latest
            pyrgeo2:
              display_name: Py-R - Geospatial + QGIS, Panoply - py-rocket-geospatial-2 2025.04.26
              slug: pyrgeo2
              default: true
              kubespawner_override:
                image: ghcr.io/nmfs-opensci/container-images/py-rocket-geospatial-2:2025.04.26
            coastwatch:
              display_name: Py-R - CoastWatch - coastwatch latest
              slug: coastwatch
              kubespawner_override:
                image: ghcr.io/nmfs-opensci/container-images/coastwatch:latest
            aomlomics:
              display_name: Py - Tourmaline Snakemake workflow for QIIME 2 v.2023.5
              slug: aomlomics
              kubespawner_override:
                image: ghcr.io/nmfs-opensci/container-images/aomlomics-jh:latest
            iorocker:
              display_name: R - Geospatial w sdmTMB - r-geospatial-sdm latest
              slug: rgeospatialsdm
              kubespawner_override:
                image: ghcr.io/nmfs-opensci/container-images/r-geospatial-sdm:latest
            echopype:
              display_name: Py - Echopype with pangeo - image-acoustics latest
              slug: echopype
              kubespawner_override:
                image: ghcr.io/nmfs-opensci/image-acoustics:latest
            arcgis:
              display_name: Py - ArcGIS Python 3.9 latest
              slug: arcgis
              kubespawner_override:
                image: ghcr.io/nmfs-opensci/container-images/arcgis:latest
            vast:
              display_name: R - VAST with TMB - vast latest
              kubespawner_override:
                image: ghcr.io/nmfs-opensci/container-images/vast:latest
            pace:
              display_name: Py - PACE image with OCSSW tools
              slug: pace
              kubespawner_override:
                image: ghcr.io/nasa/oceandata-notebooks:latest
            pangeoml:
              display_name: Pangeo ML with TensorFlow 2025.12.09
              slug: pangeoml
              kubespawner_override:
                image: quay.io/pangeo/ml-notebook:2025.12.09
            ohw:
              display_name: OceanHackWeek latest
              slug: ohw
              kubespawner_override:
                image: ghcr.io/oceanhackweek/python:latest
            ohw-spanish:
              display_name: OceanHackWeek Spanish latest
              slug: ohw-spanish
              kubespawner_override:
                image: ghcr.io/nmfs-opensci/container-images/py-rocket-oceanhw-esp:latest
          unlisted_choice:
            enabled: true
            display_name: Custom image
            validation_regex: ^.+:.+$
            validation_message: Must be a publicly available docker image, of form <image-name>:<tag>
            kubespawner_override:
              image: '{value}'
        requests:
          display_name: Resource Allocation
          choices:
              # choices generated by combining:
              # - deployer generate resource-allocation choices r5.xlarge:5
              # - deployer generate resource-allocation choices r5.4xlarge:2
            mem_2_gb:
              display_name: ~2 GB RAM, ~0.2 CPUs
              description: Up to ~4 CPUs when available
              kubespawner_override:
                mem_guarantee: 1951419879
                mem_limit: 1951419879
                cpu_guarantee: 0.22815625
                cpu_limit: 3.6505
                node_selector:
                  node.kubernetes.io/instance-type: r5.xlarge
            mem_4_gb:
              display_name: ~4 GB RAM, ~0.5 CPUs
              description: Up to ~4 CPUs when available
              kubespawner_override:
                mem_guarantee: 3902839759
                mem_limit: 3902839759
                cpu_guarantee: 0.4563125
                cpu_limit: 3.6505
                node_selector:
                  node.kubernetes.io/instance-type: r5.xlarge
            mem_7_gb:
              display_name: ~7 GB RAM, ~0.9 CPUs
              description: Up to ~4 CPUs when available
              kubespawner_override:
                mem_guarantee: 7805679519
                mem_limit: 7805679519
                cpu_guarantee: 0.912625
                cpu_limit: 3.6505
                node_selector:
                  node.kubernetes.io/instance-type: r5.xlarge
            mem_15_gb:
              display_name: ~15 GB RAM, ~1.8 CPUs
              description: Up to ~4 CPUs when available
              kubespawner_override:
                mem_guarantee: 15611359038
                mem_limit: 15611359038
                cpu_guarantee: 1.82525
                cpu_limit: 3.6505
                node_selector:
                  node.kubernetes.io/instance-type: r5.xlarge
            mem_29_gb:
              display_name: ~29 GB RAM, ~4 CPUs
              description: ~4 CPUs always available
              kubespawner_override:
                mem_guarantee: 31222718077
                mem_limit: 31222718077
                cpu_guarantee: 3.6505
                cpu_limit: 3.6505
                node_selector:
                  node.kubernetes.io/instance-type: r5.xlarge
            mem_60_gb:
              display_name: ~60 GB RAM, ~8 CPUs
              description: Up to ~15 CPUs when available
              kubespawner_override:
                mem_guarantee: 64020707016
                mem_limit: 64020707016
                cpu_guarantee: 7.69055
                cpu_limit: 15.3811
                node_selector:
                  node.kubernetes.io/instance-type: r5.4xlarge
            mem_119_gb:
              display_name: ~119 GB RAM, ~15 CPUs
              description: ~15 CPUs always available
              kubespawner_override:
                mem_guarantee: 128041414033
                mem_limit: 128041414033
                cpu_guarantee: 15.3811
                cpu_limit: 15.3811
                node_selector:
                  node.kubernetes.io/instance-type: r5.4xlarge

    - display_name: NVIDIA Tesla T4, ~16 GB, ~4 CPUs
      description: Start a container on a dedicated node with a GPU
      slug: gpu
      allowed_groups:
      - nmfs-openscapes:gpu-access-2i2c
      - 2i2c-org:hub-access-for-2i2c-staff
      profile_options:
        image:
          display_name: Environment
          dynamic_image_building:
            enabled: true
          unlisted_choice:
            enabled: true
            display_name: Custom image
            validation_regex: ^.+:.+$
            validation_message: Must be a publicly available docker image of form <image-name>:<tag>
            kubespawner_override:
              image: '{value}'
          choices:
            pytorch:
              display_name: Pangeo PyTorch ML Notebook
              default: false
              slug: pytorch
              kubespawner_override:
                image: quay.io/pangeo/pytorch-notebook:2024.11.11
            tensorflow2:
              display_name: Pangeo Tensorflow2 ML Notebook
              default: true
              slug: tensorflow2
              kubespawner_override:
                image: quay.io/pangeo/ml-notebook:2024.11.11
      kubespawner_override:
        environment:
          NVIDIA_DRIVER_CAPABILITIES: compute,utility
        mem_limit:
        mem_guarantee: 14G
        node_selector:
          node.kubernetes.io/instance-type: g4dn.xlarge
        extra_resource_limits:
          nvidia.com/gpu: '1'

  hub:
    allowNamedServers: true
    config:
      Authenticator:
        admin_users:
        - ateucher   # Andy Teucher
        - jules32   # Julia Stewart Lowndes
        - eeholmes   # Eli Holmes
  scheduling:
    userScheduler:
      enabled: true

binderhub-service:
  enabled: true
  networkPolicy:
    enabled: true
  buildPodsRegistryCredentials:
    server: https://quay.io
    username: imagebuilding-non-gcp-hubs+image_builder
