nfs:
  pv:
    serverIP: 10.100.33.250
userServiceAccount:
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::891612562472:role/nmfs-openscapes-prod

dask-gateway:
  gateway:
    backend:
      scheduler:
        extraPodConfig:
          nodeSelector:
            2i2c/hub-name: prod
      worker:
        extraPodConfig:
          nodeSelector:
            2i2c/hub-name: prod

jupyterhub:
  ingress:
    hosts: [nmfs-openscapes.2i2c.cloud]
    tls:
    - hosts: [nmfs-openscapes.2i2c.cloud]
      secretName: https-auto-tls
  singleuser:
    nodeSelector:
      2i2c/hub-name: prod
    extraEnv:
      SCRATCH_BUCKET: s3://nmfs-openscapes-scratch/$(JUPYTERHUB_USER)
      PERSISTENT_BUCKET: s3://nmfs-openscapes-persistent/$(JUPYTERHUB_USER)
    storage:
      extraVolumeMounts:
        # A shared folder readable & writeable by everyone
        1-shared-public-volumemount:
          name: home
          mountPath: /home/jovyan/shared-public
          subPath: _shared-public
          readOnly: false
  hub:
    config:
      JupyterHub:
        authenticator_class: github
      GitHubOAuthenticator:
        oauth_callback_url: https://nmfs-openscapes.2i2c.cloud/hub/oauth_callback
        allowed_organizations:
        - fish-pace:2026-hackweek-jupyterhub
        - nmfs-openscapes:longterm-access-2i2c
        - nmfs-openscapes:2024-mentors
        - nmfs-openscapes:2024-science-teams
        - nmfs-openscapes:2026-jupyterhub
        - nmfs-openscapes:2024-nmfs-champions-cohort
        - nmfs-openscapes:2025-nmfs-champions-cohort

jupyterhub-home-nfs:
  eks:
    volumeId: vol-004cc1b60a1dfb9e4
  quotaEnforcer:
    config:
      QuotaManager:
        hard_quota: 20 # in GiB
binderhub-service:
  config:
    BinderHub:
      image_prefix: quay.io/imagebuilding-non-gcp-hubs/nmfs-openscapes-prod-
