nfs:
  enabled: false
  pv:
    enabled: false

jupyterhub-home-nfs:
  enabled: false

jupyterhub:
  custom:
    singleuserAdmin:
      # Turn off trying to mount shared-readwrite folder for admins
      extraVolumeMounts: {}
    homepage:
      # Remove once https://github.com/2i2c-org/default-hub-homepage/pull/51
      # is merged
      gitRepoBranch: unify-logins-2
      templateVars:
        org:
          name: strudel
          logo_url: https://github.com/user-attachments/assets/86a3bbe4-ae13-46ae-be68-e5aac411958b
          url: https://strudel.science/
        designed_by:
          name: 2i2c
          url: https://2i2c.org
        operated_by:
          name: 2i2c
          url: https://2i2c.org
        funded_by:
          name: Alfred P. Sloan Foundation
          url: https://sloan.org/grant-detail/10074
  prePuller:
    hook:
      enabled: true
  hub:
    allowNamedServers: true
  scheduling:
    userScheduler:
      enabled: true
  singleuser:
    initContainers: []
    storage:
      type: none
      extraVolumeMounts: {}
    profileList:
    - display_name: Choose your environment and resources
      slug: only-choice
      profile_options:
        image:
          display_name: Image
          unlisted_choice:
            enabled: true
            display_name: Custom image
            validation_regex: ^.+:.+$
            validation_message: Must be a publicly available docker image, of form <image-name>:<tag>
            display_name_in_choices: Specify an existing docker image
            description_in_choices: Use a pre-existing docker image from a public docker registry (dockerhub, quay, etc)
            kubespawner_override:
              image: '{value}'
          choices:
            vscode:
              default: true
              display_name: VSCode
              description: VSCode with STRUDEL-kit
              kubespawner_override:
                  # Launch people directly into VSCode IDE when they start
                default_url: /vscode
                    # Built from https://github.com/strudel-science/strudel-infra
                image: quay.io/strudel/infrastructure-image:656e4804c76c
            qgis:
              display_name: QGIS
              description: QGIS environment
              kubespawner_override:
                  # Launch people directly into the Linux desktop when they start
                default_url: /desktop
                    # Built from https://github.com/jupyterhub/jupyter-remote-desktop-proxy/pull/51
                image: quay.io/2i2c/nasa-qgis-image:0d0765090250
        requests:
          display_name: Resource Allocation
          choices:
            # These choices were generated by taking the first three entries from
            # deployer generate resource-allocation choices r5.xlarge:5
            mem_2_gb:
              default: true
              display_name: ~2 GB RAM, ~0.2 CPUs
              description: Up to ~4 CPUs when available
              kubespawner_override:
                mem_guarantee: 1951419879
                mem_limit: 1951419879
                cpu_guarantee: 0.22815625
                cpu_limit: 3.6505
                node_selector:
                  node.kubernetes.io/instance-type: r5.xlarge
            mem_4_gb:
              display_name: ~4 GB RAM, ~0.5 CPUs
              description: Up to ~4 CPUs when available
              kubespawner_override:
                mem_guarantee: 3902839759
                mem_limit: 3902839759
                cpu_guarantee: 0.4563125
                cpu_limit: 3.6505
                node_selector:
                  node.kubernetes.io/instance-type: r5.xlarge
            mem_7_gb:
              display_name: ~7 GB RAM, ~0.9 CPUs
              description: Up to ~4 CPUs when available
              kubespawner_override:
                mem_guarantee: 7805679519
                mem_limit: 7805679519
                cpu_guarantee: 0.912625
                cpu_limit: 3.6505
                node_selector:
                  node.kubernetes.io/instance-type: r5.xlarge

