jupyterhub:
  ingress:
    hosts: [highmem.datatools.utoronto.ca]
    tls:
      - hosts: [highmem.datatools.utoronto.ca]
        secretName: https-auto-tls
  hub:
    db:
      pvc:
        # prod stores logs, so let's make it big
        storage: 60Gi
    config:
      CILogonOAuthenticator:
        oauth_callback_url: https://highmem.datatools.utoronto.ca/hub/oauth_callback
  singleuser:
    memory:
      limit: 6G
      guarantee: 3G
