nfs:
  enabled: true
  pv:
    enabled: true
    mountOptions:
    - soft
    - noatime
    serverIP: storage-quota-home-nfs.lis.svc.cluster.local
jupyterhub-home-nfs:
  enabled: true
  gke:
    enabled: true
    volumeId: projects/two-eye-two-see-uk/zones/europe-west2-b/disks/hub-nfs-homedirs-lis

jupyterhub:
  ingress:
    hosts: [ds.lis.2i2c.cloud]
    tls:
    - hosts: [ds.lis.2i2c.cloud]
      secretName: https-auto-tls
  custom:
    2i2c:
      add_staff_user_ids_to_admin_users: true
      add_staff_user_ids_of_type: github
    homepage:
      templateVars:
        org:
          name: London Interdisciplinary School
          url: https://www.lis.ac.uk
          logo_url: https://avatars.githubusercontent.com/u/95037064?s=200&v=4
        designed_by:
          name: 2i2c
          url: https://2i2c.org
        operated_by:
          name: 2i2c
          url: https://2i2c.org
        funded_by:
          name: London Interdisciplinary School
          url: https://www.lis.ac.uk
    singleuserAdmin:
      extraVolumeMounts:
        # /allusers is an extra mount point for admins to access to all users'
        # home dirs, ref: https://2i2c.freshdesk.com/a/tickets/228.
      - name: home
        mountPath: /home/jovyan/allusers
        readOnly: false
        # mounts below are copied from basehub's values that we override by
        # specifying extraVolumeMounts (lists get overridden when helm values
        # are combined)
      - name: home
        mountPath: /home/jovyan/shared-readwrite
        subPath: _shared
      - name: home
        mountPath: /home/rstudio/shared-readwrite
        subPath: _shared
  singleuser:
    image:
      # https://hub.docker.com/r/lisacuk/lishub-base
      name: lisacuk/lishub-base
      tag: 5addc51
    defaultUrl: /lab

    profileList:
    - display_name: Choose your environment and resources
      default: true
      profile_options:
        image:
          display_name: Environment
          unlisted_choice:
            enabled: true
            display_name: Custom image
            description: Specify your own docker image (must have Python and JupyterHub installed).
            validation_regex: ^.+:.+$
            validation_message: Must be a publicly available Docker image, of form <image-name>:<tag>
            kubespawner_override:
              image: '{value}'
          choices:
            01-default:
              display_name: Default Image
              description: Image maintained by LIS
              default: true
              kubespawner_override:
                image: lisacuk/lishub-base:5addc51
        resource_allocation:
          display_name: Resource Allocation
          choices:
            mem_2_gb:
              default: true
              display_name: Regular Instance
              description: Provides 512M - 2G of RAM.
              kubespawner_override:
                mem_limit: 2G
                mem_guarantee: 512M
            mem_4_gb:
              display_name: Large Instance
              description: Provides 1G - 4G of RAM.
              kubespawner_override:
                mem_limit: 4G
                mem_guarantee: 1G
  hub:
    config:
      JupyterHub:
        authenticator_class: github
      GitHubOAuthenticator:
        oauth_callback_url: https://ds.lis.2i2c.cloud/hub/oauth_callback
        allowed_organizations:
        - lisacuk
      Authenticator:
        admin_users:
        - maundjs-lis

