nfs:
  enabled: true
  pv:
    enabled: true
    mountOptions:
      - soft
      - noatime
    serverIP: 10.103.254.0
    baseShareName: /
jupyterhub-home-nfs:
  enabled: true
  prometheusExporter:
    enabled: true
  gke:
    enabled: true
    volumeId: projects/two-eye-two-see-uk/zones/europe-west2-b/disks/hub-nfs-homedirs-staging
  quotaEnforcer:
    hardQuota: "1" # in GB
jupyterhub:
  ingress:
    hosts: [staging.uk.2i2c.cloud]
    tls:
      - hosts: [staging.uk.2i2c.cloud]
        secretName: https-auto-tls
  custom:
    2i2c:
      add_staff_user_ids_to_admin_users: true
      add_staff_user_ids_of_type: "github"
    homepage:
      templateVars:
        org:
          name: 2i2c-UK Staging
          url: https://2i2c.org
          logo_url: https://2i2c.org/media/logo.png
        designed_by:
          name: 2i2c
          url: https://2i2c.org
        operated_by:
          name: 2i2c
          url: https://2i2c.org
        funded_by:
          name: 2i2c
          url: https://2i2c.org
  hub:
    config:
      JupyterHub:
        authenticator_class: cilogon
      CILogonOAuthenticator:
        oauth_callback_url: "https://staging.uk.2i2c.cloud/hub/oauth_callback"
        allowed_idps:
          http://google.com/accounts/o8/id:
            default: true
            username_derivation:
              username_claim: "email"
