name: uwhackweeks
provider: aws
aws:
  key: enc-deployer-credentials.secret.json
  clusterType: eks
  clusterName: uwhackweeks
  region: us-west-2
support:
  helm_chart_values_files:
    - support.values.yaml
    - enc-support.secret.values.yaml
hubs:
  - name: staging
    display_name: "Staging"
    domain: staging.uwhackweeks.2i2c.cloud
    helm_chart: daskhub
    auth0:
      enabled: false
    helm_chart_values_files:
      # The order in which you list files here is the order the will be passed
      # to the helm upgrade command in, and that has meaning. Please check
      # that you intend for these files to be applied in this order.
      - common.values.yaml
      - staging.values.yaml
      - enc-staging.secret.values.yaml
