{{- if .Values.prometheusIngressAuthSecret.enabled -}}
{{- /*
Build the auth list first with htpasswd because helm renders templates before parsing yaml
*/ -}} 
{{- $lines := list -}}
{{- range .Values.prometheusIngressAuthSecret.users -}}
{{- $lines = append $lines (htpasswd .username .password) -}}
{{- end -}}

apiVersion: v1
kind: Secret
metadata:
  name: prometheus-ingress-auth-basic
type: Opaque
stringData:
  auth: |
    {{- $lines | join "\n" | nindent 4 }}
{{- end }}
