{{- if .Values.prometheusIngressAuthSecret.enabled -}}
{{- /*
Build the auth list first with htpasswd because helm renders templates before parsing yaml
*/ -}}
{{- $lines := list -}}
{{- range .Values.prometheusIngressAuthSecret.users -}}
{{- $lines = append $lines (htpasswd .username .password) -}}
{{- end -}}

{{/* Used with ingress-nginx for providing basic auth */}}
apiVersion: v1
kind: Secret
metadata:
  name: prometheus-ingress-auth-basic
type: Opaque
stringData:
  auth: |
    {{- $lines | join "\n" | nindent 4 }}
---
{{/* Used with nginx-ingress for providing basic auth */}}
apiVersion: v1
kind: Secret
metadata:
  name: prometheus-nginx-ingress-auth-basic
type: nginx.org/htpasswd
stringData:
  htpasswd: |
    {{- $lines | join "\n" | nindent 4 }}
{{- end }}
