basehub:
  nfs:
    enabled: true
    volumeReporter:
      enabled: false
    pv:
      enabled: true
      # from https://docs.aws.amazon.com/efs/latest/ug/mounting-fs-nfs-mount-settings.html
      mountOptions:
      - rsize=1048576
      - wsize=1048576
      - timeo=600
      - soft   # We pick soft over hard, so NFS lockups don't lead to hung processes
      - retrans=2
      - noresvport
      baseShareName: /
  dask-gateway:
    enabled: true
  jupyterhub:
    custom:
      daskhubSetup:
        enabled: true
      2i2c:
        add_staff_user_ids_to_admin_users: true
        add_staff_user_ids_of_type: github
      jupyterhubConfigurator:
        enabled: false
      homepage:
        gitRepoBranch: openscapes
        templateVars:
          org:
            name: NASA Openscapes
            logo_url: https://nasa-openscapes.github.io/images/nasa-openscapes.png
            url: https://nasa-openscapes.github.io/
          designed_by:
            name: 2i2c
            url: https://2i2c.org
          operated_by:
            name: 2i2c
            url: https://2i2c.org
          funded_by:
            name: NASA Openscapes
            url: https://nasa-openscapes.github.io/
      singleuserAdmin:
        extraVolumeMounts:
        - name: home
          mountPath: /home/jovyan/allusers
            # Uncomment the line below to make the directory readonly for admins
            # readOnly: true
        - name: home
          mountPath: /home/rstudio/allusers
            # Uncomment the line below to make the directory readonly for admins
            # readOnly: true
          # mounts below are copied from basehub's values that we override by
          # specifying extraVolumeMounts (lists get overridden when helm values
          # are combined)
        - name: home
          mountPath: /home/jovyan/shared-readwrite
          subPath: _shared
        - name: home
          mountPath: /home/rstudio/shared-readwrite
          subPath: _shared
    singleuser:
      cloudMetadata:
        blockWithIptables: false
      defaultUrl: /lab
      extraEnv:
        GH_SCOPED_CREDS_CLIENT_ID: Iv1.6981e043b45f042f
        GH_SCOPED_CREDS_APP_URL: https://github.com/apps/openscapes-github-push-access
      profileList:
      - display_name: Choose your environment and resources
        default: true
        profile_options:
          image:
            display_name: Environment
            dynamic_image_building:
              enabled: true
            unlisted_choice:
              enabled: true
              display_name: Custom image
              description: Specify your own docker image (must have python and jupyterhub installed in it)
              validation_regex: ^.+:.+$
              validation_message: Must be a publicly available docker image, of form <image-name>:<tag>
              kubespawner_override:
                image: '{value}'
            choices:
              01-python:
                display_name: Python
                description: Python datascience environment
                kubespawner_override:
                  image: openscapes/python:8d3d96f
              02-R:
                display_name: R + Python Geospatial
                description: Py-R - Geospatial + QGIS, Panoply, CWUtils - py-rocket-geospatial-2 latest
                kubespawner_override:
                  image: ghcr.io/nmfs-opensci/container-images/py-rocket-geospatial-2:latest
              03-Matlab:
                display_name: Matlab
                description: Matlab environment
                kubespawner_override:
                  image: openscapes/matlab:2023-11-28
          resource_allocation:
            display_name: Resource Allocation
            choices:
              mem_2_gb:
                display_name: ~2 GB RAM, ~0.2 CPUs
                description: Up to ~4 CPUs when available
                kubespawner_override:
                  mem_guarantee: 1951419879
                  mem_limit: 1951419879
                  cpu_guarantee: 0.22815625
                  cpu_limit: 3.6505
                  node_selector:
                    node.kubernetes.io/instance-type: r5.xlarge
              mem_4_gb:
                display_name: ~4 GB RAM, ~0.5 CPUs
                description: Up to ~4 CPUs when available
                kubespawner_override:
                  mem_guarantee: 3902839759
                  mem_limit: 3902839759
                  cpu_guarantee: 0.4563125
                  cpu_limit: 3.6505
                  node_selector:
                    node.kubernetes.io/instance-type: r5.xlarge
              mem_7_gb:
                display_name: ~7 GB RAM, ~0.9 CPUs
                description: Up to ~4 CPUs when available
                kubespawner_override:
                  mem_guarantee: 7805679519
                  mem_limit: 7805679519
                  cpu_guarantee: 0.912625
                  cpu_limit: 3.6505
                  node_selector:
                    node.kubernetes.io/instance-type: r5.xlarge
              mem_15_gb:
                display_name: ~15 GB RAM, ~1.8 CPUs
                description: Up to ~4 CPUs when available
                kubespawner_override:
                  mem_guarantee: 15611359038
                  mem_limit: 15611359038
                  cpu_guarantee: 1.82525
                  cpu_limit: 3.6505
                  node_selector:
                    node.kubernetes.io/instance-type: r5.xlarge
              mem_29_gb:
                display_name: ~29 GB RAM, ~4 CPUs
                description: ~4 CPUs always available
                kubespawner_override:
                  mem_guarantee: 31222718077
                  mem_limit: 31222718077
                  cpu_guarantee: 3.6505
                  cpu_limit: 3.6505
                  node_selector:
                    node.kubernetes.io/instance-type: r5.xlarge
              mem_60_gb:
                display_name: ~60 GB RAM, ~8 CPUs
                description: Up to ~15 CPUs when available
                kubespawner_override:
                  mem_guarantee: 64020707016
                  mem_limit: 64020707016
                  cpu_guarantee: 7.69055
                  cpu_limit: 15.3811
                  node_selector:
                    node.kubernetes.io/instance-type: r5.4xlarge
              mem_119_gb:
                display_name: ~119 GB RAM, ~15 CPUs
                description: ~15 CPUs always available
                kubespawner_override:
                  mem_guarantee: 128041414033
                  mem_limit: 128041414033
                  cpu_guarantee: 15.3811
                  cpu_limit: 15.3811
                  node_selector:
                    node.kubernetes.io/instance-type: r5.4xlarge
    scheduling:
      userScheduler:
        enabled: true
    hub:
      allowNamedServers: true
      config:
        JupyterHub:
          authenticator_class: github
        GitHubOAuthenticator:
          allowed_organizations:
          - NASA-Openscapes:workshopaccess-2i2c
          - NASA-Openscapes:longtermaccess-2i2c
          - NASA-Openscapes:championsaccess-2i2c
            # Requested in: https://2i2c.freshdesk.com/a/tickets/1284
          - nasa-openscapes-workshops:AdminTeam
          - nasa-openscapes-workshops:nasa-champions-2024
          - nasa-openscapes-workshops:ChampionsAccess-2i2c
          - nasa-openscapes-workshops:WorkshopAccess-2i2c
          - nasa-openscapes-workshops:emit-methane-plume-2024-03-14
        Authenticator:
          admin_users:
          - amfriesz
          - jules32
          - erinmr
          - betolink
          - ateucher
  binderhub-service:
    enabled: true
    config:
      BinderHub:
        image_prefix: quay.io/imagebuilding-non-gcp-hubs/openscapes-
    buildPodsRegistryCredentials:
      server: https://quay.io
      username: imagebuilding-non-gcp-hubs+image_builder
  jupyterhub-home-nfs:
    enabled: true
    eks:
      enabled: true
