basehub:
  nfs:
    pv:
      serverIP: 10.100.130.27
  jupyterhub:
    custom:
      2i2c:
        add_staff_user_ids_to_admin_users: false
      jupyterhubConfigurator:
        enabled: false
      homepage:
        # Remove once https://github.com/2i2c-org/default-hub-homepage/pull/51
        # is merged
        gitRepoBranch: unify-logins-2
      singleuserAdmin:
        extraVolumeMounts: []
    ingress:
      hosts: [workshop.openscapes.2i2c.cloud]
      tls:
      - hosts: [workshop.openscapes.2i2c.cloud]
        secretName: https-auto-tls
    hub:
      allowNamedServers: true
      config:
        JupyterHub:
          authenticator_class: dummy
        Authenticator:
          enable_auth_state: false
          manage_groups: false
          admin_users: []
    singleuser:
      initContainers:
      - name: volume-mount-ownership-fix
        image: busybox:1.36.1
        command:
        - sh
        - -c
        - id && chown 1000:1000 /home/jovyan /home/jovyan/shared-public && ls -lhd /home/jovyan
        securityContext:
          runAsUser: 0
        volumeMounts:
        - name: home
          mountPath: /home/jovyan
          subPath: '{escaped_username}'
        - name: home
          mountPath: /home/jovyan/shared-public
          subPath: _shared-public
      storage:
        extraVolumeMounts:
          # A shared folder readable & writeable by everyone
        - name: home
          mountPath: /home/jovyan/shared-public
          subPath: _shared-public
          readOnly: false
      nodeSelector:
        2i2c/hub-name: workshop
      extraEnv:
        SCRATCH_BUCKET: s3://openscapeshub-scratch-workshop/$(JUPYTERHUB_USER)
        PERSISTENT_BUCKET: s3://openscapeshub-persistent-workshop/$(JUPYTERHUB_USER)

  dask-gateway:
    gateway:
      backend:
        scheduler:
          extraPodConfig:
            nodeSelector:
              2i2c/hub-name: workshop
        worker:
          extraPodConfig:
            nodeSelector:
              2i2c/hub-name: workshop
  jupyterhub-home-nfs:
    quotaEnforcer:
      config:
        QuotaManager:
          hard_quota: 10
    eks:
      volumeId: vol-0ab191452f5c85c6b
