name: linked-earth
provider: gcp # https://console.cloud.google.com/kubernetes/clusters/details/us-central1/linked-earth-cluster/nodes?project=linked-earth-hubs
gcp:
  key: enc-deployer-credentials.secret.json
  project: linked-earth-hubs
  cluster: linked-earth-cluster
  # The zone is actually us-central1-c but the deployer throws the below error unless
  # we set this to us-central1. Possibly because it is a regional cluster.
  #
  # Could not find [linked-earth-cluster] in [us-central1-c].
  # Did you mean [linked-earth-cluster] in [us-central1]?
  zone: us-central1
support:
  helm_chart_values_files:
    - support.values.yaml
    - enc-support.secret.values.yaml
hubs:
  - name: staging
    display_name: "LinkedEarth (staging)"
    domain: staging.linkedearth.2i2c.cloud
    helm_chart: daskhub
    auth0:
      # connection update? Also ensure the basehub Helm chart is provided a
      # matching value for jupyterhub.custom.2i2c.add_staff_user_ids_of_type!
      enabled: false
    helm_chart_values_files:
      # The order in which you list files here is the order the will be passed
      # to the helm upgrade command in, and that has meaning. Please check
      # that you intend for these files to be applied in this order.
      - common.values.yaml
      - staging.values.yaml
      - enc-staging.secret.values.yaml
  - name: prod
    display_name: "LinkedEarth (prod)"
    domain: linkedearth.2i2c.cloud
    helm_chart: daskhub
    auth0:
      # connection update? Also ensure the basehub Helm chart is provided a
      # matching value for jupyterhub.custom.2i2c.add_staff_user_ids_of_type!
      enabled: false
    helm_chart_values_files:
      # The order in which you list files here is the order the will be passed
      # to the helm upgrade command in, and that has meaning. Please check
      # that you intend for these files to be applied in this order.
      - common.values.yaml
      - prod.values.yaml
      - enc-prod.secret.values.yaml
