name: nasa-veda
provider: aws # https://smce-veda.signin.aws.amazon.com/console
aws:
  key: enc-deployer-credentials.secret.json
  clusterType: eks
  clusterName: nasa-veda
  region: us-west-2
support:
  helm_chart_values_files:
    - support.values.yaml
    - enc-support.secret.values.yaml
hubs:
  - name: staging
    display_name: "NASA VEDA (staging)"
    domain: staging.nasa-veda.2i2c.cloud
    helm_chart: daskhub
    auth0:
      enabled: false
    helm_chart_values_files:
      # The order in which you list files here is the order the will be passed
      # to the helm upgrade command in, and that has meaning. Please check
      # that you intend for these files to be applied in this order.
      - common.values.yaml
      - staging.values.yaml
      - enc-staging.secret.values.yaml
  - name: prod
    display_name: "NASA VEDA (prod)"
    domain: nasa-veda.2i2c.cloud
    helm_chart: daskhub
    auth0:
      enabled: false
    helm_chart_values_files:
      # The order in which you list files here is the order the will be passed
      # to the helm upgrade command in, and that has meaning. Please check
      # that you intend for these files to be applied in this order.
      - common.values.yaml
      - prod.values.yaml
      - enc-prod.secret.values.yaml
