basehub:
  nfs:
    pv:
      serverIP: 10.100.88.130
  userServiceAccount:
    annotations:
      eks.amazonaws.com/role-arn: arn:aws:iam::444055461661:role/nasa-veda-staging
  jupyterhub:
    singleuser:
      nodeSelector:
        2i2c/hub-name: staging
      initContainers:
      - name: volume-mount-ownership-fix
        image: busybox:1.36.1
        command:
        - sh
        - -c
        - id && chown 1000:1000 /home/jovyan /home/jovyan/shared /home/jovyan/shared-public && ls -lhd /home/jovyan
        securityContext:
          runAsUser: 0
        volumeMounts:
        - name: home
          mountPath: /home/jovyan
          subPath: '{escaped_username}'
            # Mounted without readonly attribute here,
            # so we can chown it appropriately
        - name: home
          mountPath: /home/jovyan/shared
          subPath: _shared
        - name: home
          mountPath: /home/jovyan/shared-public
          subPath: _shared-public
    hub:
      image:
        tag: 0.0.1-0.dev.git.13134.hb8ed00131
      config:
        GitHubOAuthenticator:
          oauth_callback_url: https://staging.hub.openveda.cloud/hub/oauth_callback
    ingress:
      hosts: [staging.hub.openveda.cloud]
      tls:
      - hosts: [staging.hub.openveda.cloud]
        secretName: https-auto-tls
    custom:
      homepage:
        gitRepoBranch: staging
        gitRepoUrl: https://github.com/NASA-IMPACT/veda-hub-homepage

  dask-gateway:
    gateway:
      backend:
        scheduler:
          extraPodConfig:
            nodeSelector:
              2i2c/hub-name: staging
        worker:
          extraPodConfig:
            node_selector:
              2i2c/hub-name: staging
        imagePullSecrets: [name: image-pull-secret]

  binderhub-service:
    dockerApi:
      nodeSelector:
        2i2c/hub-name: staging
    config:
      KubernetesBuildExecutor:
        node_selector:
          2i2c/hub-name: staging
      BinderHub:
        image_prefix: quay.io/imagebuilding-non-gcp-hubs/veda-staging-

  jupyterhub-home-nfs:
    eks:
      volumeId: vol-0a1246ee2e07372d0
    quotaEnforcer:
      config:
        QuotaManager:
          hardQuota: '10' # in GB
    persistentVolume:
      size: 10Gi
