jupyterhub:
  ingress:
    hosts:
      - sciencecore.opensci.2i2c.cloud
    tls:
      - secretName: https-auto-tls
        hosts:
          - sciencecore.opensci.2i2c.cloud
  custom:
    2i2c:
      add_staff_user_ids_to_admin_users: true
      add_staff_user_ids_of_type: "github"
    jupyterhubConfigurator:
      enabled: false
    homepage:
      templateVars:
        org:
          name: Sciencecore
          url: https://2i2c.org
          logo_url: https://2i2c.org/media/logo.png
        designed_by:
          name: 2i2c
          url: https://2i2c.org
        operated_by:
          name: 2i2c
          url: https://2i2c.org
        funded_by:
          name: ""
          url: ""
  singleuser:
    profileList:
      - display_name: "Only Profile Available, this info is not shown in the UI"
        slug: only-choice
        profile_options:
          image:
            display_name: Image
            unlisted_choice: &profile_list_unlisted_choice
              enabled: True
              display_name: "Custom image"
              validation_regex: "^.+:.+$"
              validation_message: "Must be a publicly available docker image, of form <image-name>:<tag>"
              display_name_in_choices: "Specify an existing docker image"
              description_in_choices: "Use a pre-existing docker image from a public docker registry (dockerhub, quay, etc)"
              kubespawner_override:
                image: "{value}"
            choices:
              pangeo:
                display_name: Pangeo Notebook Image
                description: "Python image with scientific, dask and geospatial tools"
                kubespawner_override:
                  image: pangeo/pangeo-notebook:2023.09.11
              geospatial:
                display_name: Rocker Geospatial
                description: "R image with RStudio, the tidyverse & Geospatial tools"
                default: true
                slug: geospatial
                kubespawner_override:
                  image: rocker/binder:4.3
                  # Launch into RStudio after the user logs in
                  default_url: /rstudio
                  # Ensures container working dir is homedir
                  # https://github.com/2i2c-org/infrastructure/issues/2559
                  working_dir: /home/rstudio
              scipy:
                display_name: Jupyter SciPy Notebook
                slug: scipy
                kubespawner_override:
                  image: jupyter/scipy-notebook:2023-06-26
          resources:
            display_name: Resource Allocation
            choices:
              mem_3_7:
                display_name: 3.7 GB RAM, upto 3.7 CPUs
                kubespawner_override:
                  mem_guarantee: 3982682624
                  mem_limit: 3982682624
                  cpu_guarantee: 0.46875
                  cpu_limit: 3.75
                  node_selector:
                    node.kubernetes.io/instance-type: r5.xlarge
                default: true
              mem_7_4:
                display_name: 7.4 GB RAM, upto 3.7 CPUs
                kubespawner_override:
                  mem_guarantee: 7965365248
                  mem_limit: 7965365248
                  cpu_guarantee: 0.9375
                  cpu_limit: 3.75
                  node_selector:
                    node.kubernetes.io/instance-type: r5.xlarge
              mem_14_8:
                display_name: 14.8 GB RAM, upto 3.7 CPUs
                kubespawner_override:
                  mem_guarantee: 15930730496
                  mem_limit: 15930730496
                  cpu_guarantee: 1.875
                  cpu_limit: 3.75
                  node_selector:
                    node.kubernetes.io/instance-type: r5.xlarge
              mem_29_7:
                display_name: 29.7 GB RAM, upto 3.7 CPUs
                kubespawner_override:
                  mem_guarantee: 31861460992
                  mem_limit: 31861460992
                  cpu_guarantee: 3.75
                  cpu_limit: 3.75
                  node_selector:
                    node.kubernetes.io/instance-type: r5.xlarge

  hub:
    allowNamedServers: true
    services:
      binder:
        # FIXME: ref https://github.com/2i2c-org/binderhub-service/issues/57
        # for something more readable and requiring less copy-pasting
        url: http://sciencecore-binderhub-service:8090
    image:
      name: quay.io/2i2c/dynamic-image-building-experiment
      tag: "0.0.1-0.dev.git.7567.ha4162031"
    config:
      JupyterHub:
        authenticator_class: github
      GitHubOAuthenticator:
        oauth_callback_url: https://sciencecore.opensci.2i2c.cloud/hub/oauth_callback
        allowed_organizations:
          - 2i2c-demo-hub-access
          - ScienceCore
        scope:
          - read:org

    extraConfig:
      enable-fancy-profiles: |
        from jupyterhub_fancy_profiles import setup_ui
        setup_ui(c)

binderhub-service:
  enabled: true
  config:
    BinderHub:
      image_prefix: quay.io/2i2c/opensci-sciencecore
  # The password to the registry is stored encrypted in the hub's encrypted config file
  buildPodsRegistryCredentials:
    server: "https://quay.io"
    username: "2i2c-opensci-sciencecore+image_manager"
