nfs:
  pv:
    serverIP: 10.100.212.223
jupyterhub-home-nfs:
  eks:
    volumeId: vol-02a23da5b534a990a


jupyterhub:
  ingress:
    hosts:
    - staging.opensci.2i2c.cloud
    tls:
    - secretName: https-auto-tls
      hosts:
      - staging.opensci.2i2c.cloud
  custom:
    2i2c:
      add_staff_user_ids_to_admin_users: true
      add_staff_user_ids_of_type: github
    homepage:
      templateVars:
        org:
          name: Staging
          url: https://2i2c.org
          logo_url: https://2i2c.org/media/logo.png
        designed_by:
          name: 2i2c
          url: https://2i2c.org
        operated_by:
          name: 2i2c
          url: https://2i2c.org
        funded_by:
          name: ''
          url: ''
  singleuser:
    nodeSelector:
      2i2c/hub-name: staging
    profileList:
    - display_name: Choose your environment and resources
      slug: only-choice
      profile_options:
        image:
          display_name: Image
          unlisted_choice:
            enabled: true
            display_name: Custom image
            validation_regex: ^.+:.+$
            validation_message: Must be a publicly available docker image, of form <image-name>:<tag>
            display_name_in_choices: Specify an existing docker image
            description_in_choices: Use a pre-existing docker image from a public docker registry (dockerhub, quay, etc)
            kubespawner_override:
              image: '{value}'
          choices:
            pangeo:
              display_name: Pangeo Notebook Image
              description: Python image with scientific, dask and geospatial tools
              kubespawner_override:
                image: pangeo/pangeo-notebook:2023.09.11
            geospatial:
              display_name: Rocker Geospatial
              description: R image with RStudio, the tidyverse & Geospatial tools
              default: true
              slug: geospatial
              kubespawner_override:
                image: rocker/binder:4.3
                image_pull_policy: Always
                  # Launch into RStudio after the user logs in
                default_url: /rstudio
                  # Ensures container working dir is homedir
                  # https://github.com/2i2c-org/infrastructure/issues/2559
                working_dir: /home/rstudio
            scipy:
              display_name: Jupyter SciPy Notebook
              slug: scipy
              kubespawner_override:
                  # FIXME: use quay.io/ for tags after 2023-10-20
                image: jupyter/scipy-notebook:2023-06-26
        resources:
          display_name: Resource Allocation
          choices:
              # r5.xlarge
              # [[[cog
              # from deployer.dev_commands.generate.resource_allocation.generate_choices import choices
              # choices(["r5.xlarge:4"], "proportional-memory-strategy", default=True)
              # ]]]
              # [[[end]]]
  hub:
    allowNamedServers: true
    config:
      JupyterHub:
        authenticator_class: github
      GitHubOAuthenticator:
        oauth_callback_url: https://staging.opensci.2i2c.cloud/hub/oauth_callback
        allowed_organizations:
        - 2i2c-demo-hub-access

