# Image lives at quay.io/2i2c/second-hub-experimental
git+https://github.com/yuvipanda/jupyterhub-configurator@ed7e3a0df1e3d625d10903ef7d7fd9c2fbb548db
# Brings on using `unlisted_choice` in profile options per https://github.com/2i2c-org/infrastructure/issues/2146
git+https://github.com/jupyterhub/kubespawner@9663b7e0f0d3942962c99a39c375358f19e0718e
# Brings in https://github.com/yuvipanda/prototype-kubespawner-dynamic-building-ui
git+https://github.com/yuvipanda/prototype-kubespawner-dynamic-building-ui.git@ad5d844a50943df18b08f0b368d31f9f8441b1a0
