# Image lives at quay.io/2i2c/pkce-experiment
# install oauthenticator 17.3,
# which adds PKCE and refresh_token support
# experiment no longer needed when base chart is updated to z2jh 4.1.0
oauthenticator>=17.3,<18


# jupyterhub-configurator isn't maintained and its not intended to be developed
# further. We are using a branch that has forked from the main branch just
# before a breaking change were made. This allows us to avoid migrating.
#
# ref: https://github.com/yuvipanda/jupyterhub-configurator/commits/main
# ref: https://github.com/yuvipanda/jupyterhub-configurator/commits/backported-jh41-compatibility
#
git+https://github.com/yuvipanda/jupyterhub-configurator@backported-jh41-compatibility

# Brings in https://github.com/yuvipanda/jupyterhub-fancy-profiles
jupyterhub-fancy-profiles==0.4.1
