jupyterhub-usage-quotas @ git+https://github.com/2i2c-org/jupyterhub-usage-quotas@bdc04932ebeefb192dba286465500cbb262c3a3d
jupyterhub-fancy-profiles==0.6.0
jupyterhub-kubespawner @ git+https://github.com/jupyterhub/kubespawner@19ae3849a538940d8cc46062da247bec392501f0

