# Image lives at quay.io/2i2c/pilot-hub

# jupyterhub-configurator isn't version controlled, so we pin to a specific
# commit currently. Available commits are found at
# https://github.com/yuvipanda/jupyterhub-configurator/commits/main
#
# FIXME: bc7aaab136c8eff3619d18151f35437c64d6f7d1 is from Mar 30, 2021, but
#        several commits has been made since as can be seen via
#        https://github.com/yuvipanda/jupyterhub-configurator/compare/bc7aaab136c8eff3619d18151f35437c64d6f7d1...main,
#        where the commit after the one we currently use removes
#        c.Configurator.schemas that we configure in our provided
#        jupyterhub_configurator_config.py.
#
git+https://github.com/yuvipanda/jupyterhub-configurator@bc7aaab136c8eff3619d18151f35437c64d6f7d1
