# Image lives at quay.io/2i2c/pilot-hub

# jupyterhub-configurator isn't maintained and its not intended to be developed
# further. We are using a branch that has forked from the main branch just
# before a breaking change were made. This allows us to avoid migrating.
#
# ref: https://github.com/yuvipanda/jupyterhub-configurator/commits/main
# ref: https://github.com/yuvipanda/jupyterhub-configurator/commits/backported-jh41-compatibility
#
git+https://github.com/yuvipanda/jupyterhub-configurator@backported-jh41-compatibility

jupyterhub-fancy-profiles==0.5.0