# Image lives at quay.io/2i2c/unlisted-choice-experiment

# FIXME: This image is currently redundant as kubespawner 6.1.0 with
#        unlisted_choice is used by default in z2jh 3.1.0, but it _could_ serve
#        a purpose to test future related development such as
#        https://github.com/jupyterhub/kubespawner/pull/778.
#

# jupyterhub-configurator isn't version controlled, so we pin to a specific
# commit currently. Available commits are found at
# https://github.com/yuvipanda/jupyterhub-configurator/commits/main
#
# FIXME: ed7e3a0df1e3d625d10903ef7d7fd9c2fbb548db is from Mar 26, 2021, but
#        several commits has been made since.
#
git+https://github.com/yuvipanda/jupyterhub-configurator@ed7e3a0df1e3d625d10903ef7d7fd9c2fbb548db
