:root {
    --pst-font-size-base: none;
    --pst-color-primary: 78, 78, 78;
    --pst-color-secondary: 87, 154, 202;
    --pst-color-info: var(--pst-color-secondary);
    --pst-color-navbar-link-active: var(--pst-color-secondary);
    --pst-color-sidebar-link-active: var(--pst-color-secondary);
    --pst-color-link: var(--pst-color-secondary);
}

div.logo {
    font-family: "Fira Sans";
    text-align: center;
    margin-top: 2em;
}

div.logo p {
    margin: 0;
}

p.logo-main {
    font-size: 4.5em;
    font-weight: 700;
    line-height: 1.1em;
    color: rgb(var(--pst-color-primary));
}

p.logo-subtext {
    color: rgb(var(--pst-color-secondary));
    font-size:1.4em;
}