name: 'Recurrent: regenerate SMDC credentials'
on:
  workflow_dispatch:
  schedule:
    # Run on January 6 → February 25 → April 6 → May 25, and so on
    # This means a new issue will be opened every 40 to 50 days
  - cron: 0 0 6 1,4,7,10 *
  - cron: 0 0 25 2,5,8,11 *

jobs:
  create_issue:
    name: Create issue
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
    - uses: actions/checkout@v6
    - name: Get Deadline
      id: get_deadline
        # The deadline is 4 days after the issue is opened
      run: |
        echo "deadline=$(date -d '+4 days' +'%B %d')" >> $GITHUB_ENV
        echo "deadline_as_iso_date=$(date -d '+4 days' +"%Y-%m-%d")" >> $GITHUB_ENV

    - name: Setup recurrent issue
      uses: ./.github/actions/setup-recurrent-issues
      with:
        title: '[${{ env.deadline }}] Regenerate SMDC credentials'
        body: |
          The credentials of the deployer on SMDC clusters must be renewed every ~55 days.

          ### Context
          AWS credentials for our hub deployer must be renewed for the following clusters:
          - [ ] nasa-veda
          - [ ] nasa-ghg-hub
          - [ ] maap
          - [ ] disasters

          ### Resources
          Follow [the instructions](https://infrastructure.2i2c.org/howto/regenerate-smce-creds/#regenerate-credentials-for-the-deployer) on how to do this.

          ### Definition of Done
          - [ ] The credentials of the deployer on all clusters have been renewed
        fields: Status,Estimate,End date
        values: Up Next,1,${{ env.deadline_as_iso_date }}
        GH_TOKEN: ${{ secrets.PROJECT_BOARD_PAT_TOKEN }}
