name: 'Recurrent: Support work'
on:
  workflow_dispatch:
  schedule:
  - cron: 0 5 * * 3

jobs:
  # Run the action every other week
  run-fortnightly:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
    - name: Check if valid week
      continue-on-error: false
      run: |
        WEEK=$(date +%V)
        if [ $((WEEK % 2)) -ne 0 ]; then
            echo "Skipping this week"
            exit 1
        fi
    - name: Get Deadline
      id: get_deadline
      run: |
        echo "deadline=$(date -d '+28 days' +'%B %d')" >> $GITHUB_ENV
        echo "deadline_as_iso_date=$(date -d '+28 days' +"%Y-%m-%d")" >> $GITHUB_ENV
    - name: Create issue
      run: |
        issue=$(gh issue create \
        --label "recurrent" \
        --label "support" \
        --title "[${{ env.deadline }}] Support" \
        --body "$BODY")
        echo "issue=$issue" >> $GITHUB_ENV
      env:
        GH_TOKEN: ${{ secrets.PROJECT_BOARD_PAT_TOKEN }}
        GH_REPO: ${{ github.repository }}
        BODY: |
          ### Context

          Includes triage and a <30 min support timebox per person per day.

    - name: Sleep a bit to allow issue to be added to the board by automation
      run: sleep 3

    - name: Set the "Status" and "Estimate" project board fields
      uses: EndBug/project-fields@v2
      id: set-fields
      with:
        operation: set
            # If the fields name or type will change
            # expect this step to fail
        fields: Status,Estimate,End date
        github_token: ${{ secrets.PROJECT_BOARD_PAT_TOKEN }}
        project_url: https://github.com/orgs/2i2c-org/projects/57
        values: Up Next,5,${{ env.deadline_as_iso_date }}
        resource_url: ${{ env.issue }}
