name: 'Recurrent: get billing data'
on:
  workflow_dispatch:
  schedule:
    # Run on every 28th of the month at midnight
  - cron: 0 0 15 * *

jobs:
  create_issue:
    name: Create billing issues
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
    - uses: actions/checkout@v6
    - name: Compute billing period and deadline
      run: |
        echo "billing_month=$(date +'%B')" >> $GITHUB_ENV
        echo "start_date_as_iso=$(date -d '+1 month' +'%Y-%m-02')" >> $GITHUB_ENV
        echo "end_date_as_iso=$(date -d '+1 month' +'%Y-%m-07')" >> $GITHUB_ENV

    - name: Setup recurrent issue for dedicated clusters billing
      uses: ./.github/actions/setup-recurrent-issues
      with:
        title: '[Billing] Dedicated clusters: collect billing data for ${{ env.billing_month }}'
        body: |
          ### Context
          - Dedicated clusters [instructions](https://infrastructure.2i2c.org/howto/budgeting-billing/bill/#communities-with-dedicated-cloud-accounts)

          ### Definition of Done
          - [ ] AWS Billing data is collected
          - [ ] GCP Billing data is collected
          - [ ] OVH Billing data is collected
          - [ ] The billing slack was notified about the new billing data collected
        fields: Status,Estimate,Start date,End date
        values: Up Next,1,${{ env.start_date_as_iso }},${{ env.end_date_as_iso }}
        GH_TOKEN: ${{ secrets.PROJECT_BOARD_PAT_TOKEN }}

    - name: Setup recurrent issue for shared clusters billing
      uses: ./.github/actions/setup-recurrent-issues
      with:
        title: '[Billing] Shared clusters: collect billing data for ${{ env.billing_month }}'
        body: |
          ### Context
          - Shared clusters [instructions](https://infrastructure.2i2c.org/howto/budgeting-billing/bill/#communities-in-shared-cloud-accounts) for performing this task

          ### Definition of Done
          - [ ] Billing data is collected according to instructions.
          - [ ] The billing slack was notified about the new billing data collected
        fields: Status,Estimate,Start date,End date
        values: Up Next,1,${{ env.start_date_as_iso }},${{ env.end_date_as_iso }}
