name: 'Manual workflow dispatch: Generate CSAT report'
on:
  workflow_dispatch:

jobs:
  create_issue:
    name: Create issue
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
    - uses: actions/checkout@v6
    - name: Get Deadline
      id: get_deadline
        # The deadline is 4 days after the issue is opened
      run: |
        echo "deadline=$(date -d '+4 days' +'%B %d')" >> $GITHUB_ENV
        echo "deadline_as_iso_date=$(date -d '+4 days' +"%Y-%m-%d")" >> $GITHUB_ENV
    - name: Setup recurrent issue
      uses: ./.github/actions/setup-recurrent-issues
      with:
        title: '[${{ env.deadline }}] Generate CSAT report'
        body: |
          ### Context

          We need to generate a CSAT report for the previous month. This team KPI is used to track our progress and gather feedback from our users.

          Full instructions can be found in the Google Drive [README](https://docs.google.com/document/d/1bH5fN2lXcZ-vjQ4Pb4lfaeQbmoCBkN1QYjA7ZaxkmsY/edit?usp=sharing)

          ### Definition of Done

          - [ ] The CSAT report is generated and shared with the team
        fields: Status,Estimate,End date
        values: Up Next,1,${{ env.deadline_as_iso_date }}
        GH_TOKEN: ${{ secrets.PROJECT_BOARD_PAT_TOKEN }}
