name: 'Recurrent: Incident Report Writing'
on:
  workflow_dispatch:
  schedule:
  - cron: 0 4 * * 1

jobs:
  compute-week:
    uses: ./.github/workflows/is-this-sprint-week.yaml

  run-fortnightly:
    needs: compute-week
    runs-on: ubuntu-latest
    permissions:
      issues: write
    if: ${{ needs.compute-week.outputs.valid_week == "True" }}
    steps:
    - uses: actions/checkout@v6
    - name: Get Deadline
      id: get_deadline
      run: |
        echo "deadline=$(date -d '+14 days' +'%B %d')" >> $GITHUB_ENV
        echo "deadline_as_iso_date=$(date -d '+14 days' +"%Y-%m-%d")" >> $GITHUB_ENV
    - name: Setup recurrent issue for incident reporting
      uses: ./.github/actions/setup-recurrent-issues
      with:
        title: Pay out past incident reporting debt
        assignee: agoose77,GeorgianaElena
        body: |
          ### Context

          Each sprint, the Infrastructure Engineering team is scheduled to take the following actions, for unpublished **outages that have happened between September 1st 2025 and February 10th 2026** until we have paid out all debt:
            - handle incident reports
            - handle action items and incident resolution
            - archive outage-related Slack channels

          ### What we need to do

          Choose at least one activity from the following list and follow the steps listed.

          **1. Handle incident report review**
            - review at least one of the [`Draft` incidents in PagerDuty](https://2i2c-org.pagerduty.com/postmortems), 
            - edit it and change its status to `Reviewed` when you are done
            - let the owner know in the #post-outage-actions Slack channel

          **2. Handle incident report writing**
            - get the list of P1 incidents by sorting [the list of incidents](https://2i2c-org.pagerduty.com/incidents?status=acknowledged%2Ctriggered%2Cresolved) based on priority (start by looking at the past two months)
            - compare this list with the list of Postmortems
            - check which incidents do not have postmortems
            - write up any missing Incident Report and save it as a PD draft postmortem
            - let the team know in the #post-outage-actions Slack channel

          **3. Archive outage-related Slack channels**
            - review the list of [PD postmortems that are marked as `Closed`](https://2i2c-org.pagerduty.com/postmortems)
            - if any of these still have Slack channels that have not been archived, archive them now

          ### Definition of Done

          Each of the people below has taken at least one of the actions mentioned above:
          - [ ] @agoose77
          - [ ] @GeorgianaElena
        fields: Status,Estimate,End date
        values: Up Next,2,${{ env.deadline_as_iso_date }}
        GH_TOKEN: ${{ secrets.PROJECT_BOARD_PAT_TOKEN }}
