name: 'Recurrent: Support work'
on:
  workflow_dispatch:
  schedule:
  - cron: 0 5 * * 3

jobs:
  # Run the action every other week
  run-fortnightly:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
    - uses: actions/checkout@v6
    - name: Check if valid week
      continue-on-error: false
      run: |
        WEEK=$(date +%V)
        if [ $((${WEEK#0} % 2)) -ne 0 ]; then
            echo "Skipping this week"
            exit 1
        fi
    - name: Get Deadline
      id: get_deadline
      run: |
        echo "deadline=$(date -d '+28 days' +'%B %d')" >> $GITHUB_ENV
        echo "deadline_as_iso_date=$(date -d '+28 days' +"%Y-%m-%d")" >> $GITHUB_ENV
    - name: Setup recurrent issue
      uses: ./.github/actions/setup-recurrent-issues
      with:
        label: support
        title: '[${{ env.deadline }}] Support'
        body: |
          ### Context

          Includes triage and a <30 min support timebox per person per day.
        fields: Status,Estimate,End date
        values: Up Next,5,${{ env.deadline_as_iso_date }}
        GH_TOKEN: ${{ secrets.PROJECT_BOARD_PAT_TOKEN }}
