name: Lint terraform

on:
  pull_request:
    paths:
    - terraform/**

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: hashicorp/setup-terraform@v3
    - uses: terraform-linters/setup-tflint@v6
    - name: Run terraform linter
      run: |
        cd terraform
        tflint --recursive
    - name: Check terraform formatting
      run: terraform fmt -check -diff terraform/
