name: PagerDuty Extension Action
on:
  repository_dispatch:
jobs:
  handle:
    runs-on: ubuntu-latest
    steps:
      - env:
          MESSAGE: ${{ github.event.client_payload.message }}
        run: echo $MESSAGE
