# This is a GitHub workflow defining a set of jobs with a set of steps.
# ref: https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions
#
name: Test docs

on:
  pull_request:
    paths:
    - docs/**
    - '**/test-docs.yaml'
  push:
    paths:
    - docs/**
    - '**/test-docs.yaml'
    branches-ignore:
    - dependabot/**
    - pre-commit-ci-update-config
  workflow_dispatch:

jobs:
  test-docs:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
    - uses: actions/setup-python@v6
      with:
        python-version: '3.13'

    - name: Install deps
      run: pip install . -r docs/requirements.txt

      # linkcheck is done separately from this in doc-links.yml, scheduled to
      # run every day and open/update an issue
    - name: make dirhtml
      run: |
        cd docs
        make dirhtml SPHINXOPTS='--color -W --keep-going'
